openapi: 3.0.1
x-kong-name: psd2-bulk-payments-api-132
info:
  title: Bulk Payments API
  version: 1.3.2
  description: API for executing bulk payments from $(APIENV_TENANTID)
servers:
  - url: https://hu-api-sandbox.raiffeisen.hu/rbhu/prod02/psd2-bulk-payments-api-1.3.2/v1/
security:
  - clientIdHeader: []
paths:
  /bulk-payments/{payment_product}:
    post:
      operationId: initiateBulkPayments
      x-kong-plugin-request-validator:
        enabled: true
      tags:
        - Bulk-payments initiation requests
      summary: Bulk-payments request
      description: A collection of several payment initiation requests.
      parameters:
        - $ref: "#/components/parameters/payment_product"
        - $ref: "#/components/parameters/X-Request-ID"
        - $ref: "#/components/parameters/PSU-IP-Address"
        - $ref: "#/components/parameters/Digest"
        - $ref: "#/components/parameters/Signature"
        - $ref: "#/components/parameters/TPP-Signature-Certificate"
        - $ref: "#/components/parameters/PSU-ID"
        - $ref: "#/components/parameters/PSU-ID-Type"
        - $ref: "#/components/parameters/PSU-Corporate-ID"
        - $ref: "#/components/parameters/PSU-Corporate-ID-Type"
        - $ref: "#/components/parameters/Consent-ID"
        - $ref: "#/components/parameters/TPP-Redirect-Preferred"
        - $ref: "#/components/parameters/TPP-Redirect-URI"
        - $ref: "#/components/parameters/TPP-Nok-Redirect-URI"
        - $ref: "#/components/parameters/TPP-Explicit-Authorisation-Preferred"
        - $ref: "#/components/parameters/TPP-Rejection-NoFunds-Preferred"
        - $ref: "#/components/parameters/TPP-Notification-URI"
        - $ref: "#/components/parameters/TPP-Notification-Content-Preferred"
        - $ref: "#/components/parameters/PSU-IP-Port"
        - $ref: "#/components/parameters/PSU-Accept"
        - $ref: "#/components/parameters/PSU-Accept-Charset"
        - $ref: "#/components/parameters/PSU-Accept-Encoding"
        - $ref: "#/components/parameters/PSU-Accept-Language"
        - $ref: "#/components/parameters/PSU-User-Agent"
        - $ref: "#/components/parameters/PSU-Http-Method"
        - $ref: "#/components/parameters/PSU-Device-ID"
        - $ref: "#/components/parameters/PSU-Geo-Location"
      requestBody:
        description: JSON request body for a payment inition request message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulkPaymentInitiation'
        required: true
      responses:
        201:
          description: CREATED
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            ASPSP-SCA-Approach:
              schema:
                type: string
                default: EMBEDDED
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentInitationRequestResponse-201'
              example: '{"description":"Response in case of a redirect with an implicitly
                created authorisation sub-resource","value":{"transactionStatus":"RCVD","paymentId":"1234-wertiq-983","_links":{"scaRedirect":{"href":"https://www.testbank.com/asdfasdfasdf"},"self":{"href":"/v1/payments/sepa-credit-transfers/1234-wertiq-983"},"status":{"href":"/v1/payments/1234-wertiq-983/status"},"scaStatus":{"href":"/v1/payments/1234-wertiq-983/authorisations/123auth456"}}}}'
        400:
          description: Bad Request
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400_NG_PIS'
        401:
          description: Unauthorized
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401_NG_PIS'
        403:
          description: Forbidden
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403_NG_PIS'
        404:
          description: Not found
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404_NG_PIS'
        405:
          description: Method Not Allowed
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error405_NG_PIS'
        406:
          description: Not Acceptable
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        408:
          description: Request Timeout
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        409:
          description: Conflict
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409_NG_PIS'
        415:
          description: Unsuported Media Type
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        429:
          description: Too Many Requests
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        500:
          description: Internal Server Error
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        503:
          description: Service Unavailable
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
      x-codegen-request-body-name: body
components:
  schemas:
    accountReference:
      title: accountReference
      type: object
      properties:
        iban:
          pattern: '[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}'
          type: string
          description: IBAN of an account
          example: FR7612345987650123456789014
      description: IBAN, of a payment accounts
    address:
      title: address
      required:
        - country
      type: object
      properties:
        street:
          maxLength: 70
          type: string
        buildingNumber:
          type: string
        city:
          type: string
        postalCode:
          type: string
        country:
          pattern: '[A-Z]{2}'
          type: string
          description: ISO 3166 ALPHA2 country code
          example: SE
      example:
        street: rue blue
        buildingnNumber: "89"
        city: Paris
        postalCode: "75000"
        country: FR
    amount:
      title: amount
      required:
        - amount
        - currency
      type: object
      properties:
        currency:
          pattern: '[A-Z]{3}'
          type: string
          description: ISO 4217 Alpha 3 currency code
          example: EUR
        amount:
          pattern: -?[0-9]{1,14}(\.[0-9]{1,3})?
          type: string
          description: |-
            The amount given with fractional digits, where fractions must be compliant to the currency definition.
            Up to 14 significant figures. Negative amounts are signed by minus.
            The decimal separator is a dot.

            **Example:**
            Valid representations for EUR with up to two decimals are:

              * 1056
              * 5768.2
              * -1.50
              * 5877.78
          example: "5877.78"
      example:
        currency: EUR
        amount: "123"
    bulkPaymentInitiation:
      title: bulkPaymentInitiation
      required:
        - debtorAccount
        - payments
      type: object
      properties:
        batchBookingPreferred:
          type: boolean
          description: "If this element equals 'true', the PSU prefers only one booking
           entry. If this element equals 'false', the PSU prefers individual
           booking of all contained individual transactions. The ASPSP will
           follow this preference according to contracts agreed on with the PSU."
          example: true
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        requestedExecutionDate:
          type: string
          format: date
        requestedExecutionTime:
          type: string
          format: date-time
        payments:
          type: array
          description: |-
            A list of generic JSON bodies payment initations for bulk payments via JSON.

            Note: Some fields from single payments do not occcur in a bulk payment element
          items:
            $ref: '#/components/schemas/paymentInitiationBulkElement'
      description: "Generic Body for a bulk payment initiation via JSON.paymentInformationId
        is contained in code but commented since it is n.a. and not all ASPSP
        are able to support this field now.In a later version the field will be
        mandatory."
    paymentInitiationBulkElement:
      title: paymentInitiationBulkElement
      required:
        - creditorAccount
        - creditorName
        - instructedAmount
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorAgentName:
          maxLength: 70
          type: string
          description: Creditor Agent Name
          example: Creditor Agent Name
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
          description: Unstructured remittance information
          example: Ref Number Merchant
      description: "Generic body for a bulk payment initiation entry.The bulk
        entry type is a type which follows the JSON formats for the supported products
        for single payments excluding the data elements (if supported):  * debtorAccount
         * requestedExecutionDate,  * requestedExecutionTime.These data elements
        may not be contained in any bulk entry.This data object can be used
        to represent valid bulk payment initiations entry for the following JSON
        based payment product, which where defined in the Implementation Guidelines."
    paymentInitationRequestResponse-201:
      title: paymentInitationRequestResponse-201
      required:
        - _links
        - paymentId
        - transactionStatus
      type: object
      properties:
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
        paymentId:
          type: string
          description: Resource identification of the generated payment initiation
            resource.
          example: 1234-wertiq-983
        transactionFees:
          $ref: '#/components/schemas/amount'
        transactionFeeIndicator:
          type: boolean
          description: |-
            If equals 'true', the transaction will involve specific transaction cost as shown by the ASPSP in
            their public price list or as agreed between ASPSP and PSU.
            If equals 'false', the transaction will not involve additional specific transaction costs to the PSU.
        scaMethods:
          type: array
          description: |-
            This data element might be contained, if SCA is required and if the PSU has a choice between different
            authentication methods.

            Depending on the risk management of the ASPSP this choice might be offered before or after the PSU
            has been identified with the first relevant factor, or if an access token is transported.

            If this data element is contained, then there is also an hyperlink of type 'startAuthorisationWithAuthenticationMethodSelection'
            contained in the response body.

            These methods shall be presented towards the PSU for selection by the TPP.
          items:
            $ref: '#/components/schemas/authenticationObject'
        chosenScaMethod:
          $ref: '#/components/schemas/authenticationObject'
        challengeData:
          $ref: '#/components/schemas/challengeData'
        _links:
          $ref: '#/components/schemas/_linksPaymentInitiation'
        psuMessage:
          maxLength: 512
          type: string
          description: Text to be displayed to the PSU
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage2XX'
      description: Body of the response for a successful payment initiation request.
    transactionStatus:
      title: transactionStatus
      type: string
      description: "The transaction status is filled with codes of the ISO 20022 data
        table:- 'ACCC': 'AcceptedSettlementCompleted' -  Settlement on the creditor's
        account has been completed.- 'ACCP': 'AcceptedCustomerProfile' -   Preceding
        check of technical validation was successful.   Customer profile check
        was also successful.- 'ACSC': 'AcceptedSettlementCompleted' -   Settlement
        on the debtor?s account has been completed.    **Usage:** this can be
        used by the first agent to report to the debtor that the transaction has
        been completed.     **Warning:** this status is provided for transaction
        status reasons, not for financial information.   It can only be used after
        bilateral agreement.- 'ACSP': 'AcceptedSettlementInProcess' -   All
        preceding checks such as technical validation and customer profile were
        successful and therefore the payment initiation has been accepted for execution.
        - 'ACTC': 'AcceptedTechnicalValidation' -   Authentication and syntactical
        and semantically validation are successful.- 'ACWC': 'AcceptedWithChange'
        - Instruction is accepted but a change will be made, such as date or
        remittance not sent.- 'ACWP': 'AcceptedWithoutPosting' -   Payment instruction
        included in the credit transfer is accepted without being posted to the
        creditor customer?s account.- 'RCVD': 'Received' -   Payment initiation
        has been received by the receiving agent.- 'PDNG': 'Pending' -   Payment
        initiation or individual transaction included in the payment initiation
        is pending.   Further checks and status update will be performed.- 'RJCT':
        'Rejected' -   Payment initiation or individual transaction included in
        the payment initiation has been rejected.- 'CANC': 'Cancelled'  Payment
        initiation has been cancelled before execution  Remark: This code is still
        requested from ISO20022.- 'ACFC': 'AcceptedFundsChecked' -  Preceding
        check of technical validation and customer profile was successful and an
        automatic funds check was positive .  Remark: This code is still requested
        from ISO20022.- 'PATC': 'PartiallyAcceptedTechnical'  Correct The payment
        initiation needs multiple authentications, where some but not yet all have
        been performed. Syntactical and semantically validations are successful.
        Remark: This code is still requested from ISO20022."
      example: ACCC
      enum:
        - ACCC
        - ACCP
        - ACSC
        - ACSP
        - ACTC
        - ACWC
        - ACWP
        - RCVD
        - PDNG
        - RJCT
        - CANC
        - ACFC
        - PATC
    authenticationObject:
      title: authenticationObject
      required:
        - authenticationMethodId
        - authenticationType
      type: object
      properties:
        authenticationType:
          $ref: '#/components/schemas/authenticationType'
        authenticationVersion:
          type: string
          description: |-
            Depending on the "authenticationType".
            This version can be used by differentiating authentication tools used within performing OTP generation in the same authentication type.
            This version can be referred to in the ASPSP?s documentation.
        authenticationMethodId:
          maxLength: 35
          type: string
          description: An identification provided by the ASPSP for the later identification
            of the authentication method selection.
          example: myAuthenticationID
        name:
          type: string
          description: |-
            This is the name of the authentication method defined by the PSU in the Online Banking frontend of the ASPSP.
            Alternatively this could be a description provided by the ASPSP like "SMS OTP on phone +49160 xxxxx 28".
            This name shall be used by the TPP when presenting a list of authentication methods to the PSU, if available.
          example: SMS OTP on phone +49160 xxxxx 28
        explanation:
          type: string
          description: Detailed information about the SCA method for the PSU.
          example: Detailed information about the SCA method for the PSU.
      description: Authentication Object
    authenticationType:
      title: authenticationType
      type: string
      description: "Type of the authentication method.\nMore authentication types\
        \ might be added during implementation projects and documented in the ASPSP\
        \ documentation.  - 'SMS_OTP': An SCA method, where an OTP linked to the\
        \ transaction to be authorised is sent to the PSU through a SMS channel.\
        \  - 'CHIP_OTP': An SCA method, where an OTP is generated by a chip card,\
        \ e.g. an TOP derived from an EMV cryptogram.     To contact the card, the\
        \ PSU normally needs a (handheld) device.     With this device, the PSU\
        \ either reads the challenging data through a visual interface like flickering\
        \ or     the PSU types in the challenge through the device key pad.  \
        \   The device then derives an OTP from the challenge data and displays the\
        \ OTP to the PSU.  - 'PHOTO_OTP': An SCA method, where the challenge is\
        \ a QR code or similar encoded visual data     which can be read in by a\
        \ consumer device or specific mobile app.     The device resp. the specific\
        \ app than derives an OTP from the visual challenge data and displays  \
        \   the OTP to the PSU.  - 'PUSH_OTP': An OTP is pushed to a dedicated authentication\
        \ APP and displayed to the PSU."
      example: SMS_OTP
      enum:
        - SMS_OTP
        - CHIP_OTP
        - PHOTO_OTP
        - PUSH_OTP
    OtpFormat:
      title: OtpFormat
      type: string
      description: The format type of the OTP to be typed in. The admitted values
        are "characters" or "integer".
      example: characters
      enum:
        - characters
        - integer
    challengeData:
      title: challengeData
      type: object
      properties:
        image:
          type: string
          description: |-
            PNG data (max. 512 kilobyte) to be displayed to the PSU,
            Base64 encoding, cp. [RFC4648].
            This attribute is used only, when PHOTO_OTP or CHIP_OTP
            is the selected SCA method.
        data:
          type: string
          description: String challenge data
        imageLink:
          type: string
          description: A link where the ASPSP will provides the challenge image for
            the TPP.
        otpMaxLength:
          type: integer
          description: The maximal length for the OTP to be typed in by the PSU.
          format: int32
        otpFormat:
          $ref: '#/components/schemas/OtpFormat'
        additionalInformation:
          type: string
          description: |-
            Additional explanation for the PSU to explain
            e.g. fallback mechanism for the chosen SCA method.
            The TPP is obliged to show this to the PSU.
      description: |-
        It is contained in addition to the data element 'chosenScaMethod' if challenge data is needed for SCA.
        In rare cases this attribute is also used in the context of the 'startAuthorisationWithPsuAuthentication' link.
    _linksAll:
      title: _linksAll
      type: object
      properties:
        scaRedirect:
          $ref: '#/components/schemas/hrefType'
        scaApp2AppIOS:
          $ref: '#/components/schemas/hrefType'
        scaApp2AppAndroid:
          $ref: '#/components/schemas/hrefType'
        scaOAuth:
          $ref: '#/components/schemas/hrefType'
        startAuthorisation:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuIdentification:
          $ref: '#/components/schemas/hrefType'
        updatePsuIdentification:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithProprietaryData:
          $ref: '#/components/schemas/hrefType'
        updateProprietaryData:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        updatePsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithEncryptedPsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        updateEncryptedPsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithAuthenticationMethodSelection:
          $ref: '#/components/schemas/hrefType'
        selectAuthenticationMethod:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithTransactionAuthorisation:
          $ref: '#/components/schemas/hrefType'
        authoriseTransaction:
          $ref: '#/components/schemas/hrefType'
        self:
          $ref: '#/components/schemas/hrefType'
        status:
          $ref: '#/components/schemas/hrefType'
        scaStatus:
          $ref: '#/components/schemas/hrefType'
        account:
          $ref: '#/components/schemas/hrefType'
        balances:
          $ref: '#/components/schemas/hrefType'
        transactions:
          $ref: '#/components/schemas/hrefType'
        transactionDetails:
          $ref: '#/components/schemas/hrefType'
        cardAccount:
          $ref: '#/components/schemas/hrefType'
        cardTransactions:
          $ref: '#/components/schemas/hrefType'
        first:
          $ref: '#/components/schemas/hrefType'
        next:
          $ref: '#/components/schemas/hrefType'
        previous:
          $ref: '#/components/schemas/hrefType'
        last:
          $ref: '#/components/schemas/hrefType'
        download:
          $ref: '#/components/schemas/hrefType'
      description: A _link object with all availabel link types
    _linksPaymentInitiation:
      title: _linksPaymentInitiation
      type: object
      properties:
        scaRedirect:
          $ref: '#/components/schemas/hrefType'
        scaApp2AppIOS:
          $ref: '#/components/schemas/hrefType'
        scaApp2AppAndroid:
          $ref: '#/components/schemas/hrefType'
        scaOAuth:
          $ref: '#/components/schemas/hrefType'
        startAuthorisation:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuIdentification:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithEncryptedPsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithAuthenticationMethodSelection:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithTransactionAuthorisation:
          $ref: '#/components/schemas/hrefType'
        self:
          $ref: '#/components/schemas/hrefType'
        status:
          $ref: '#/components/schemas/hrefType'
        scaStatus:
          $ref: '#/components/schemas/hrefType'
      description: "A list of hyperlinks to be recognised by the TPP.\nThe actual\
        \ hyperlinks used in the response depend on the dynamical decisions of the\
        \ ASPSP when\nprocessing the request.**Remark:** All links can be relative\
        \ or full links, to be decided by the ASPSP.\nType of links admitted in\
        \ this response, (further links might be added for ASPSP defined extensions):\
        * 'scaRedirect':   In case of an SCA Redirect Approach, the ASPSP is transmitting\
        \ the link to which to redirect the PSU browser.* 'scaApp2AppIOS':   In\
        \ case of an App2App Redirect Approach, the ASPSP is transmitting the link\
        \ to which to redirect the PSU mobile device.* 'scaApp2AppAndroid':  \
        \ In case of an App2App Redirect Approach, the ASPSP is transmitting the link\
        \ to which to redirect the PSU mobile device.* 'scaOAuth':   In case of\
        \ a SCA OAuth2 Approach, the ASPSP is transmitting the URI where the configuration\
        \ of the Authorisation  Server can be retrieved. The configuration follows\
        \ the OAuth 2.0 Authorisation Server Metadata specification.* 'startAuthorisation':\
        \   In case, where an explicit start of the transaction authorisation is\
        \ needed, but no more data needs to be updated   (no authentication method\
        \ to be selected, no PSU identification nor PSU authentication data to be\
        \ uploaded).* 'startAuthorisationWithPsuIdentification':   The link to\
        \ the authorisation end-point, where the authorisation sub-resource has to\
        \ be generated while   uploading the PSU identification data.* 'startAuthorisationWithPsuAuthentication':\
        \   The link to the authorisation end-point, where the authorisation sub-resource\
        \ has to be generated while   uploading the PSU authentication data. \
        \ * 'startAuthorisationWithEncryptedPsuAuthentication':    Same as startAuthorisactionWithPsuAuthentication\
        \ where the authentication data need to be encrypted on     application\
        \ layer in uploading.* 'startAuthorisationWithAuthenticationMethodSelection':\
        \   The link to the authorisation end-point, where the authorisation sub-resource\
        \ has to be generated while   selecting the authentication method.   This\
        \ link is contained under exactly the same conditions as the data element\
        \ \"scaMethods\"* 'startAuthorisationWithTransactionAuthorisation':  The\
        \ link to the authorisation end-point, where the authorisation sub-resource\
        \ has to be generated while   authorising the transaction e.g. by uploading\
        \ an OTP received by SMS.* 'self':   The link to the payment initiation\
        \ resource created by this request.  This link can be used to retrieve the\
        \ resource data.* 'status':   The link to retrieve the transaction status\
        \ of the payment initiation.* 'scaStatus':   The link to retrieve the\
        \ scaStatus of the corresponding authorisation sub-resource.   This link\
        \ is only contained, if an authorisation sub-resource has been already created."
      example:
        scaRedirect: '{"href":"https://www.testbank.com/asdfasdfasdf"}'
        self: '{"href":"/v1/payments/sepa-credit-transfers/1234-wertiq-983"}'
    tppMessageCategory:
      title: tppMessageCategory
      type: string
      description: Category of the TPP message category
      example: ERROR
      enum:
        - ERROR
        - WARNING
    MessageCode400_PIS:
      title: MessageCode400_PIS
      type: string
      description: Message codes defined for PIS for HTTP Error code 400 (BAD_REQUEST).
      example: FORMAT_ERROR
      enum:
        - FORMAT_ERROR
        - PARAMETER_NOT_CONSISTENT
        - PARAMETER_NOT_SUPPORTED
        - SERVICE_INVALID
        - RESOURCE_UNKNOWN
        - RESOURCE_EXPIRED
        - RESOURCE_BLOCKED
        - TIMESTAMP_INVALID
        - PERIOD_INVALID
        - SCA_METHOD_UNKNOWN
        - CONSENT_UNKNOWN
        - PAYMENT_FAILED
        - EXECUTION_DATE_INVALID
    MessageCode401_PIS:
      title: MessageCode401_PIS
      type: string
      description: Message codes defined for PIS for HTTP Error code 401 (UNAUTHORIZED).
      example: CERTIFICATE_INVALID
      enum:
        - CERTIFICATE_INVALID
        - CERTIFICATE_EXPIRED
        - CERTIFICATE_BLOCKED
        - CERTIFICATE_REVOKE
        - CERTIFICATE_MISSING
        - SIGNATURE_INVALID
        - SIGNATURE_MISSING
        - CORPORATE_ID_INVALID
        - PSU_CREDENTIALS_INVALID
        - CONSENT_INVALID
        - CONSENT_EXPIRED
        - TOKEN_UNKNOWN
        - TOKEN_INVALID
        - TOKEN_EXPIRED
        - REQUIRED_KID_MISSING
    MessageCode403_PIS:
      title: MessageCode403_PIS
      type: string
      description: Message codes defined defined for PIS for PIS for HTTP Error code
        403 (FORBIDDEN).
      example: CONSENT_UNKNOWN
      enum:
        - CONSENT_UNKNOWN
        - SERVICE_BLOCKED
        - RESOURCE_UNKNOWN
        - RESOURCE_EXPIRED
        - PRODUCT_INVALID
    MessageCode404_PIS:
      title: MessageCode404_PIS
      type: string
      description: Message codes defined for PIS for HTTP Error code 404 (NOT FOUND).
      example: RESOURCE_UNKNOWN
      enum:
        - RESOURCE_UNKNOWN
        - PRODUCT_UNKNOWN
    tppMessage2XX:
      title: tppMessage2XX
      required:
        - category
        - code
      type: object
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          type: string
          description: Message codes for HTTP Error codes 2XX.
          example: WARNING
          default: WARNING
        path:
          type: string
        text:
          maxLength: 512
          type: string
          description: Additional explaining text to the TPP.
    tppMessage400_PIS:
      title: tppMessage400_PIS
      required:
        - category
        - code
      type: object
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          $ref: '#/components/schemas/MessageCode400_PIS'
        path:
          type: string
        text:
          maxLength: 512
          type: string
          description: Additional explaining text to the TPP.
    tppMessage401_PIS:
      title: tppMessage401_PIS
      required:
        - category
        - code
      type: object
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          $ref: '#/components/schemas/MessageCode401_PIS'
        path:
          type: string
        text:
          maxLength: 512
          type: string
          description: Additional explaining text to the TPP.
    tppMessage403_PIS:
      title: tppMessage403_PIS
      required:
        - category
        - code
      type: object
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          $ref: '#/components/schemas/MessageCode403_PIS'
        path:
          type: string
        text:
          maxLength: 512
          type: string
          description: Additional explaining text to the TPP.
    tppMessage404_PIS:
      title: tppMessage404_PIS
      required:
        - category
        - code
      type: object
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          $ref: '#/components/schemas/MessageCode404_PIS'
        path:
          type: string
        text:
          maxLength: 512
          type: string
          description: Additional explaining text to the TPP.
    tppMessage405_PIS:
      title: tppMessage405_PIS
      required:
        - category
        - code
      type: object
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          type: string
          description: Message codes defined for payment cancelations PIS for HTTP
            Error code 405 (METHOD NOT ALLOWED).
          example: SERVICE_INVALID
          default: SERVICE_INVALID
        path:
          type: string
        text:
          maxLength: 512
          type: string
          description: Additional explaining text to the TPP.
    tppMessage409_PIS:
      title: tppMessage409_PIS
      required:
        - category
        - code
      type: object
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          type: string
          description: Message codes defined for PIS for HTTP Error code 409 (CONFLICT).
          example: STATUS_INVALID
          default: STATUS_INVALID
        path:
          type: string
        text:
          maxLength: 512
          type: string
          description: Additional explaining text to the TPP.
    Error400_NG_PIS:
      title: Error400_NG_PIS
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage400_PIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
      description: |
        NextGenPSD2 specific definition of reporting error information in case of a HTTP error code 400.
    Error401_NG_PIS:
      title: Error401_NG_PIS
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage401_PIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
      description: |
        NextGenPSD2 specific definition of reporting error information in case of a HTTP error code 401.
    Error403_NG_PIS:
      title: Error403_NG_PIS
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage403_PIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
      description: |
        NextGenPSD2 specific definition of reporting error information in case of a HTTP error code 403.
    Error404_NG_PIS:
      title: Error404_NG_PIS
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage404_PIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
      description: |
        NextGenPSD2 specific definition of reporting error information in case of a HTTP error code 404.
    Error405_NG_PIS:
      title: Error405_NG_PIS
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage405_PIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
      description: |
        NextGenPSD2 specific definition of reporting error information in case of a HTTP error code 405.
    Error409_NG_PIS:
      title: Error409_NG_PIS
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage409_PIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
      description: NextGenPSD2 specific definition of reporting error information
        in case of a HTTP error code 409.
    hrefType:
      type: object
      properties:
        href:
          $ref: '#/components/schemas/hrefEntry'
      description: Link to a resource
    hrefEntry:
      type: string
      description: Link to a resource
      example: /v1/payments/sepa-credit-transfers/1234-wertiq-983
  parameters:
    payment_product:
      name: payment_product
      in: path
      required: true
      schema:
        type: string
        enum:
          - domestic
          - sepa-credit-transfers
          - cross-border-credit-transfers
    X-Request-ID:
      name: X-Request-ID
      in: header
      description: ID of the request, unique to the call, as determined by the initiating
        party.
      required: true
      schema:
        type: string
        format: uuid
    PSU-IP-Address:
      name: PSU-IP-Address
      in: header
      description: The forwarded IP Address header field consists of the corresponding
        http request IP Address field between PSU and TPP.
      required: true
      schema:
        type: string
        format: ipv4
      example: '192.168.8.78'
    Digest:
      name: Digest
      in: header
      description: |-
        The digest is a base64 encoded hash of the body.
        Hash the body of your request (or an empty string if there is no body) using the SHA-256 algorithm.
        Base64 encode the output and add the result to your Digest header, specifying the hashing algorithm used.
      schema:
        type: string
      example: SHA-256=ZuYiOtZkVxhjWmwTO5lOpsPevUNMezvk6dfb6fVhebM=
    Signature:
      name: Signature
      in: header
      description: |-
        A signature of the request by the TPP at the application level. This might be mandated by the ASPSP. 
        The signature is a list of headers with their signed values. Any header can be used in the signature (including the `Digest` header), with the exception of the `client_id` header. 
        To sign the `client_id` header, its name should be treated as `clientId`.
        First, prepare the headers in the format of "header name: header value" with a line separator, e.g.,
        ```
        Digest: SHA-256=ZuYiOtZkVxhjWmwTO5lOpsPevUNMezvk6dfb6fVhebM=
        clientId: WmwTO5lOpsPevUNMezvk6df
        ```
        Then, sign this string using your private key and hash it with SHA-256 using RSA.
        Finally, base64 encode the resulting value. The `Signature` header should include the `keyId`, `algorithm="rsa-sha256"`, `headers` list, and the base64 encoded signature.
      example: |-
        keyId="SN=9FA1,CA=D-TRUST%20CA%202-1%202015,O=D-Trust%20GmbH,C=DE",algorithm="rsa-sha256",
        headers="Digest clientId",
        signature="Base64(RSA-SHA256(signing string))"
      schema:
        type: string
    TPP-Signature-Certificate:
      name: TPP-Signature-Certificate
      in: header
      description: |-
        The certificate used for signing the request, in base64 encoding.
        Must be included if a signature is present. The request must be signed with your QSEAL certificate.
        The algorithm used for the signature must be RSA-SHA256. If this header is present, the `Signature` and `Digest` headers must also be provided.
      schema:
        type: string
      example: MIIHXTCCBUWgAwIBAgIMIgFezw5y5yKRhs9TMA0GCSqGSIb3DQEBCwUAMGUxCzACORgEBMBMGBgQAjkYBBjAJBgcEAI5GAQYCMDQGBgQAjkYBBTAqMCgWImh0dHBzOi8vd3d3LmNlcnRzaWduLnJvL3JlcG9z...
    PSU-ID:
      name: PSU-ID
      in: header
      description: >-
        Client ID of the PSU in the ASPSP client
        interface.
        It is mandated by the Raiffeisen Bank to be required field if the PSU-Corporate-ID is not provided.
        It might be contained even if an OAuth2 based authentication was performed in a
        pre-step In this case the ASPSP might
        check whether PSU-ID and token match,
        according to ASPSP documentation.
      schema:
        type: string
    PSU-ID-Type:
      name: PSU-ID-Type
      in: header
      description: |-
        Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility.

        In this case, the mean and use are then defined in the ASPSP�s documentation.
      schema:
        type: string
    PSU-Corporate-ID:
      name: PSU-Corporate-ID
      in: header
      description: It is mandated by the Raiffeisen Bank to be required field if the PSU-ID is not provided.
      schema:
        type: string
    PSU-Corporate-ID-Type:
      name: PSU-Corporate-ID-Type
      in: header
      description: Might be mandated in the ASPSP's documentation. Only used in
        a corporate context.
      schema:
        type: string
    Consent-ID:
      name: Consent-ID
      in: header
      description: |-
        This data element may be contained, if the payment initiation transaction is part of a session, i.e. combined AIS/PIS service.
        This then contains the consentId of the related AIS consent, which was performed prior to this payment initiation.
      schema:
        type: string
    TPP-Redirect-Preferred:
      name: TPP-Redirect-Preferred
      in: header
      description: |-
        If it equals "true", the TPP prefers a redirect over an embedded SCA approach.
        If it equals "false", the TPP prefers not to be redirected for SCA. The ASPSP will then choose between the Embedded or the Decoupled
        SCA approach, depending on the choice of the SCA procedure by the TPP/PSU.
        If the parameter is not used, the ASPSP will choose the SCA approach to be applied depending on the SCA method chosen by the
        TPP/PSU.
      schema:
        type: string
        enum:
          - "true"
          - "false"
    TPP-Redirect-URI:
      name: TPP-Redirect-URI
      in: header
      description: |-
        URI of the URI of the TPP, where the transaction
          flow shall be redirected to after a
          Redirect. Mandated for the Redirect SCA
          Approach, specifically when TPP-Redirect-
          Preferred equals "true". See Section 4.10 for
          further requirements on this header.
          It is recommended to always use this header
          field.
      schema:
        type: string
    TPP-Nok-Redirect-URI:
      name: TPP-Nok-Redirect-URI
      in: header
      description: |-
        If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case
        of a negative result of the redirect SCA method. This might be ignored by the ASPSP.
      schema:
        type: string
    TPP-Explicit-Authorisation-Preferred:
      name: TPP-Explicit-Authorisation-Preferred
      in: header
      description: If it equals true, the TPP prefers to start the authorisation
        process separately, e.g. because of the usage of a signing basket.
        This preference might be ignored by the ASPSP, if a signing basket is not
        supported as functionality.If it equals false or if the parameter
        is not used, there is no preference of the TPP. This especially indicates
        that the TPP assumes a direct authorisation of the transaction in the
        next step, without using a signing basket.
      schema:
        type: string
        enum:
          - "true"
          - "false"
    TPP-Rejection-NoFunds-Preferred:
      name: TPP-Rejection-NoFunds-Preferred
      in: header
      description: If it equals true then the TPP prefers a rejection of the
        payment initiation in case the ASPSP is providing an integrated confirmation
        of funds request an the result of this is that not sufficient funds
        are available.If it equals false then the TPP prefers that the
        ASPSP is dealing with the payment initiation like in the ASPSPs online
        channel, potentially waiting for a certain time period for funds to arrive
        to initiate the payment.This parameter might be ignored by the ASPSP.
      schema:
        type: string
        enum:
          - "true"
          - "false"
    TPP-Notification-URI:
      name: TPP-Notification-URI
      in: header
      description: |-
        URI for the Endpoint of the TPP-API to which the status of the payment initiation should be sent.
        This header field may by ignored by the ASPSP.
      schema:
        type: string
    TPP-Notification-Content-Preferred:
      name: TPP-Notification-Content-Preferred
      in: header
      description: "The string has the form status=X1, ..., Xn where Xi is
        one of the constants SCA, PROCESS, LAST and where constants are not
        repeated.The usage of the constants supports the of following semantics:
        SCA: A notification on every change of the scaStatus attribute for all
        related authorisation processes is preferred by the TPP.  PROCESS:
        A notification on all changes of consentStatus or transactionStatus attributes
        is preferred by the TPP.  LAST: Only a notification on the last consentStatus
        or transactionStatus as available in the XS2A interface is preferred by
        the TPP.This header field may be ignored, if the ASPSP does not support
        resource notification services for the related TPP."
      schema:
        type: string
    PSU-IP-Port:
      name: PSU-IP-Port
      in: header
      description: The forwarded IP Port header field consists of the corresponding
        HTTP request IP Port field between PSU and TPP, if available.
      schema:
        type: string
    PSU-Accept:
      name: PSU-Accept
      in: header
      description: The forwarded IP Accept header fields consist of the corresponding
        HTTP request Accept header fields between PSU and TPP, if available.
      schema:
        type: string
    PSU-Accept-Charset:
      name: PSU-Accept-Charset
      in: header
      description: The forwarded IP Accept header fields consist of the corresponding
        HTTP request Accept header fields between PSU and TPP, if available.
      schema:
        type: string
    PSU-Accept-Encoding:
      name: PSU-Accept-Encoding
      in: header
      description: The forwarded IP Accept header fields consist of the corresponding
        HTTP request Accept header fields between PSU and TPP, if available.
      schema:
        type: string
    PSU-Accept-Language:
      name: PSU-Accept-Language
      in: header
      description: The forwarded IP Accept header fields consist of the corresponding
        HTTP request Accept header fields between PSU and TPP, if available.
      schema:
        type: string
    PSU-User-Agent:
      name: PSU-User-Agent
      in: header
      description: |-
        The forwarded Agent header field of the HTTP request between
        PSU and TPP, if available.
        Examples
          * Android:  "Myappa/1.2 Dalvik/2.1.0 (Linux; U; Android 6.0.1; vivo 1610 Build/MMB29M)"
          * iOS: "MyApp/1 iPhone5,2 iOS/10_1 CFNetwork/808.3 Darwin/16.3.0"
      schema:
        type: string
    PSU-Http-Method:
      name: PSU-Http-Method
      in: header
      description: |-
        HTTP method used at the PSU ? TPP interface, if available.
        Valid values are:
        * GET
        * POST
        * PUT
        * PATCH
        * DELETE
      schema:
        type: string
        enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
    PSU-Device-ID:
      name: PSU-Device-ID
      in: header
      description: |-
        UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.
        UUID identifies either a device or a device dependant application installation.
        In case of an installation identification this ID need to be unaltered until removal from device.
      schema:
        type: string
        format: uuid
    PSU-Geo-Location:
      name: PSU-Geo-Location
      in: header
      description: The forwarded Geo Location of the corresponding http request
        between PSU and TPP if available.
      schema:
        pattern: GEO:-?[0-9]{1,2}\.[0-9]{6};-?[0-9]{1,3}\.[0-9]{6}
        type: string
  securitySchemes:
    clientIdHeader:
      type: apiKey
      name: client_id
      in: header