openapi: 3.0.1
x-kong-name: psd2-bgs-authorisation-api-132
info:
  title: Consent Authorization API
  description: ""
  version: 1.3.2
servers:
  - url: https://hu-api-sandbox.raiffeisen.hu/rbhu/prod02/psd2-bgs-authorisation-api/v1
security:
  - clientIdHeader: []
paths:
  "/consents/{consentId}/authorisations":
    post:
      description: >
        Create an authorisation sub-resource and start the authorisation process
        of a consent.

        The message might in addition transmit authentication and authorisation related data.


        his method is iterated n times for a n times SCA authorisation in a

        corporate context, each creating an own authorisation sub-endpoint for

        the corresponding PSU authorising the consent.


        The ASPSP might make the usage of this access method unnecessary,

        since the related authorisation resource will be automatically created by

        the ASPSP after the submission of the consent data with the first POST consents call.


        The start authorisation process is a process which is needed for creating a new authorisation

        or cancellation sub-resource.


        This applies in the following scenarios:

          * The ASPSP has indicated with an 'startAuthorisation' hyperlink in the preceding Payment
            Initiation Response that an explicit start of the authorisation process is needed by the TPP.
            The 'startAuthorisation' hyperlink can transport more information about data which needs to be
            uploaded by using the extended forms.
            * 'startAuthorisationWithPsuIdentfication',
            * 'startAuthorisationWithPsuAuthentication'
            * 'startAuthorisationWithEncryptedPsuAuthentication'
            * 'startAuthorisationWithAuthentciationMethodSelection'
          * The related payment initiation cannot yet be executed since a multilevel SCA is mandated.
          * The ASPSP has indicated with an 'startAuthorisation' hyperlink in the preceding
            Payment Cancellation Response that an explicit start of the authorisation process is needed by the TPP.
            The 'startAuthorisation' hyperlink can transport more information about data which needs to be uploaded
            by using the extended forms as indicated above.
          * The related payment cancellation request cannot be applied yet since a multilevel SCA is mandate for
            executing the cancellation.
          * The signing basket needs to be authorised yet.
      summary: startConsentAuthorisation
      tags:
        - Account Information Service (AIS)
      operationId: startConsentAuthorisation
      deprecated: false
      parameters:
        - name: consentId
          in: path
          required: true
          description: ID of the corresponding consent object as returned by an Account
            Information Consent Request.
          schema:
            type: string
        - name: X-Request-ID
          in: header
          required: true
          description: ID of the request, unique to the call, as determined by the
            initiating party.
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/digest'
        - $ref: '#/components/parameters/signature'
        - $ref: '#/components/parameters/tpp-signature-certificate'
        - name: PSU-ID
          in: header
          required: false
          description: >-
            Client ID of the PSU in the ASPSP client
            interface.
            It is mandated by the Raiffeisen Bank to be required field if the PSU-Corporate-ID is not provided.
            It might be contained even if an OAuth2 based authentication was performed in a
            pre-step In this case the ASPSP might
            check whether PSU-ID and token match,
            according to ASPSP documentation.
          schema:
            type: string
        - name: PSU-ID-Type
          in: header
          required: false
          description: Type of the PSU-ID, needed in scenarios where PSUs have several
            PSU-IDs as access possibility.
          schema:
            type: string
        - name: PSU-Corporate-ID
          in: header
          required: false
          description: It is mandated by the Raiffeisen Bank to be required field if the PSU-ID is not provided.
          schema:
            type: string
        - name: PSU-Corporate-ID-Type
          in: header
          required: false
          description: Might be mandated in the ASPSP's documentation. Only used in a
            corporate context.
          schema:
            type: string
        - name: TPP-Redirect-Preferred
          in: header
          required: false
          description: >-
            If it equals "true", the TPP prefers a redirect over an embedded SCA
            approach.

            If it equals "false", the TPP prefers not to be redirected for SCA. The ASPSP will then choose between the Embedded or the Decoupled

            SCA approach, depending on the choice of the SCA procedure by the TPP/PSU.

            If the parameter is not used, the ASPSP will choose the SCA approach to be applied depending on the SCA method chosen by the

            TPP/PSU.
          schema:
            type: string
            enum:
              - true
              - false
        - name: TPP-Redirect-URI
          in: header
          required: false
          description: >-
            URI of the URI of the TPP, where the transaction
            flow shall be redirected to after a
            Redirect. Mandated for the Redirect SCA
            Approach, specifically when TPP-Redirect-
            Preferred equals "true". See Section 4.10 for
            further requirements on this header.
            It is recommended to always use this header
            field.
          schema:
            type: string
        - name: TPP-Nok-Redirect-URI
          in: header
          required: false
          description: >-
            If this URI is contained, the TPP is asking to redirect the
            transaction flow to this address instead of the TPP-Redirect-URI in
            case

            of a negative result of the redirect SCA method. This might be ignored by the ASPSP.
          schema:
            type: string
        - name: PSU-IP-Address
          in: header
          required: false
          description: >-
            The forwarded IP Address header field consists of the corresponding
            HTTP request

            IP Address field between PSU and TPP.

            It shall be contained if and only if this request was actively initiated by the PSU.
          schema:
            type: string
        - name: PSU-IP-Port
          in: header
          required: false
          description: The forwarded IP Port header field consists of the corresponding
            HTTP request IP Port field between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-Accept
          in: header
          required: false
          description: The forwarded IP Accept header fields consist of the corresponding
            HTTP request Accept header fields between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-Accept-Charset
          in: header
          required: false
          description: The forwarded IP Accept header fields consist of the corresponding
            HTTP request Accept header fields between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-Accept-Encoding
          in: header
          required: false
          description: The forwarded IP Accept header fields consist of the corresponding
            HTTP request Accept header fields between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-Accept-Language
          in: header
          required: false
          description: The forwarded IP Accept header fields consist of the corresponding
            HTTP request Accept header fields between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-User-Agent
          in: header
          required: false
          description: >-
            The forwarded Agent header field of the HTTP request between

            PSU and TPP, if available.

            Examples
              * Android:  "Myappa/1.2 Dalvik/2.1.0 (Linux; U; Android 6.0.1; vivo 1610 Build/MMB29M)"
              * iOS: "MyApp/1 iPhone5,2 iOS/10_1 CFNetwork/808.3 Darwin/16.3.0"
          schema:
            type: string
        - name: PSU-Http-Method
          in: header
          required: false
          description: |-
            HTTP method used at the PSU ? TPP interface, if available.
            Valid values are:
            * GET
            * POST
            * PUT
            * PATCH
            * DELETE
          schema:
            type: string
            enum:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
        - name: PSU-Device-ID
          in: header
          required: false
          description: >-
            UUID (Universally Unique Identifier) for a device, which is used by
            the PSU, if available.

            UUID identifies either a device or a device dependant application installation.

            In case of an installation identification this ID need to be unaltered until removal from device.
          schema:
            type: string
            format: uuid
        - name: PSU-Geo-Location
          in: header
          required: false
          description: The forwarded Geo Location of the corresponding http request between
            PSU and TPP if available.
          schema:
            type: string
            pattern: GEO:-?[0-9]{1,2}\.[0-9]{6};-?[0-9]{1,3}\.[0-9]{6}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        "201":
          description: Created
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            ASPSP-SCA-Approach:
              schema:
                type: string
                default: EMBEDDED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/startScaprocessResponse"
        "400":
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XS2A_Berlin_Error"
        "401":
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XS2A_Berlin_Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema: {}
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema: {}
    get:
      description: >
        Return a list of all authorisation subresources IDs which have been
        created.


        This function returns an array of hyperlinks to all generated authorisation sub-resources.
      summary: getConsentAuthorisation
      tags:
        - Account Information Service (AIS)
      operationId: getConsentAuthorisation
      deprecated: false
      parameters:
        - name: consentId
          in: path
          required: true
          description: ID of the corresponding consent object as returned by an Account
            Information Consent Request.
          schema:
            type: string
        - name: X-Request-ID
          in: header
          required: true
          description: ID of the request, unique to the call, as determined by the
            initiating party.
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/digest'
        - $ref: '#/components/parameters/signature'
        - $ref: '#/components/parameters/tpp-signature-certificate'
        - name: PSU-IP-Address
          in: header
          required: false
          description: >-
            The forwarded IP Address header field consists of the corresponding
            HTTP request

            IP Address field between PSU and TPP.

            It shall be contained if and only if this request was actively initiated by the PSU.
          schema:
            type: string
        - name: PSU-IP-Port
          in: header
          required: false
          description: The forwarded IP Port header field consists of the corresponding
            HTTP request IP Port field between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-Accept
          in: header
          required: false
          description: The forwarded IP Accept header fields consist of the corresponding
            HTTP request Accept header fields between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-Accept-Charset
          in: header
          required: false
          description: The forwarded IP Accept header fields consist of the corresponding
            HTTP request Accept header fields between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-Accept-Encoding
          in: header
          required: false
          description: The forwarded IP Accept header fields consist of the corresponding
            HTTP request Accept header fields between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-Accept-Language
          in: header
          required: false
          description: The forwarded IP Accept header fields consist of the corresponding
            HTTP request Accept header fields between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-User-Agent
          in: header
          required: false
          description: >-
            The forwarded Agent header field of the HTTP request between

            PSU and TPP, if available.

            Examples
              * Android:  "Myappa/1.2 Dalvik/2.1.0 (Linux; U; Android 6.0.1; vivo 1610 Build/MMB29M)"
              * iOS: "MyApp/1 iPhone5,2 iOS/10_1 CFNetwork/808.3 Darwin/16.3.0"
          schema:
            type: string
        - name: PSU-Http-Method
          in: header
          required: false
          description: |-
            HTTP method used at the PSU ? TPP interface, if available.
            Valid values are:
            * GET
            * POST
            * PUT
            * PATCH
            * DELETE
          schema:
            type: string
            enum:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
        - name: PSU-Device-ID
          in: header
          required: false
          description: >-
            UUID (Universally Unique Identifier) for a device, which is used by
            the PSU, if available.

            UUID identifies either a device or a device dependant application installation.

            In case of an installation identification this ID need to be unaltered until removal from device.
          schema:
            type: string
            format: uuid
        - name: PSU-Geo-Location
          in: header
          required: false
          description: The forwarded Geo Location of the corresponding http request between
            PSU and TPP if available.
          schema:
            type: string
            pattern: GEO:-?[0-9]{1,2}\.[0-9]{6};-?[0-9]{1,3}\.[0-9]{6}
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authorisations"
        "400":
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XS2A_Berlin_Error"
        "401":
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XS2A_Berlin_Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema: {}
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema: {}
  "/consents/{consentId}/authorisations/{authorisationId}":
    get:
      description: >
        This method returns the SCA status of a consent initiation's
        authorisation sub-resource.
      summary: getConsentScaStatus
      tags:
        - Account Information Service (AIS)
      operationId: getConsentScaStatus
      deprecated: false
      parameters:
        - name: consentId
          in: path
          required: true
          description: ID of the corresponding consent object as returned by an Account
            Information Consent Request.
          schema:
            type: string
        - name: authorisationId
          in: path
          required: true
          description: Resource identification of the related SCA.
          schema:
            type: string
        - name: X-Request-ID
          in: header
          required: true
          description: ID of the request, unique to the call, as determined by the
            initiating party.
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/digest'
        - $ref: '#/components/parameters/signature'
        - $ref: '#/components/parameters/tpp-signature-certificate'
        - name: PSU-IP-Address
          in: header
          required: false
          description: >-
            The forwarded IP Address header field consists of the corresponding
            HTTP request

            IP Address field between PSU and TPP.

            It shall be contained if and only if this request was actively initiated by the PSU.
          schema:
            type: string
        - name: PSU-IP-Port
          in: header
          required: false
          description: The forwarded IP Port header field consists of the corresponding
            HTTP request IP Port field between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-Accept
          in: header
          required: false
          description: The forwarded IP Accept header fields consist of the corresponding
            HTTP request Accept header fields between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-Accept-Charset
          in: header
          required: false
          description: The forwarded IP Accept header fields consist of the corresponding
            HTTP request Accept header fields between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-Accept-Encoding
          in: header
          required: false
          description: The forwarded IP Accept header fields consist of the corresponding
            HTTP request Accept header fields between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-Accept-Language
          in: header
          required: false
          description: The forwarded IP Accept header fields consist of the corresponding
            HTTP request Accept header fields between PSU and TPP, if available.
          schema:
            type: string
        - name: PSU-User-Agent
          in: header
          required: false
          description: >-
            The forwarded Agent header field of the HTTP request between

            PSU and TPP, if available.

            Examples
              * Android:  "Myappa/1.2 Dalvik/2.1.0 (Linux; U; Android 6.0.1; vivo 1610 Build/MMB29M)"
              * iOS: "MyApp/1 iPhone5,2 iOS/10_1 CFNetwork/808.3 Darwin/16.3.0"
          schema:
            type: string
        - name: PSU-Http-Method
          in: header
          required: false
          description: |-
            HTTP method used at the PSU ? TPP interface, if available.
            Valid values are:
            * GET
            * POST
            * PUT
            * PATCH
            * DELETE
          schema:
            type: string
            enum:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
        - name: PSU-Device-ID
          in: header
          required: false
          description: >-
            UUID (Universally Unique Identifier) for a device, which is used by
            the PSU, if available.

            UUID identifies either a device or a device dependant application installation.

            In case of an installation identification this ID need to be unaltered until removal from device.
          schema:
            type: string
            format: uuid
        - name: PSU-Geo-Location
          in: header
          required: false
          description: The forwarded Geo Location of the corresponding http request between
            PSU and TPP if available.
          schema:
            type: string
            pattern: GEO:-?[0-9]{1,2}\.[0-9]{6};-?[0-9]{1,3}\.[0-9]{6}
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/scaStatusResponse"
        "400":
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XS2A_Berlin_Error"
        "401":
          description: 401 Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XS2A_Berlin_Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema: {}
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema: {}
components:
  securitySchemes:
    clientIdHeader:
      type: apiKey
      name: client_id
      in: header
  schemas:
    XS2A_Berlin_Error:
      type: object
      properties:
        errorCode:
          type: string
          description: Optional error code for reporting purposes.
        errorDescription:
          type: string
          description: The description of the error.
    startScaprocessResponse:
      title: startScaprocessResponse
      description: Body of the JSON response for a Start SCA authorisation request.
      type: object
    authorisations:
      title: authorisations
      description: An array of all authorisationIds
      type: object
      properties:
        authorisationIds:
          description: An array of all authorisationIds
          type: array
          items:
            type: string
      required:
        - authorisationIds
    scaStatusResponse:
      title: scaStatusResponse
      description: Body of the JSON response with SCA Status
      type: object
      properties:
        scaStatus:
          $ref: "#/components/schemas/scaStatus"
    scaStatus:
      title: scaStatus
      description: >-
        This data element is containing information about the status of the SCA
        method applied.


        The following codes are defined for this data type.

          * 'received':
            An authorisation or cancellation-authorisation resource has been created successfully.
          * 'psuIdentified':
            The PSU related to the authorisation or cancellation-authorisation resource has been identified.
          * 'psuAuthenticated':
            The PSU related to the authorisation or cancellation-authorisation resource has been identified and authenticated e.g. by a password or by an access token.
          * 'scaMethodSelected':
            The PSU/TPP has selected the related SCA routine.
            If the SCA method is chosen implicitly since only one SCA method is available,
            then this is the first status to be reported instead of 'received'.
          * 'started':
            The addressed SCA routine has been started.
          * 'finalised':
            The SCA routine has been finalised successfully.
          * 'failed':
            The SCA routine failed
          * 'exempted':
            SCA was exempted for the related transaction, the related authorisation is successful.
      example: received
      type: string
      enum:
        - received
        - psuIdentified
        - psuAuthenticated
        - scaMethodSelected
        - started
        - finalised
        - failed
        - exempted
  parameters:
    digest:
      name: Digest
      in: header
      description: |-
        The digest is a base64 encoded hash of the body.
        Hash the body of your request (or an empty string if there is no body) using the SHA-256 algorithm.
        Base64 encode the output and add the result to your Digest header, specifying the hashing algorithm used.
      schema:
        type: string
      example: SHA-256=ZuYiOtZkVxhjWmwTO5lOpsPevUNMezvk6dfb6fVhebM=
    signature:
      name: Signature
      in: header
      description: |-
        A signature of the request by the TPP at the application level. This might be mandated by the ASPSP. 
        The signature is a list of headers with their signed values. Any header can be used in the signature (including the `Digest` header), with the exception of the `client_id` header. 
        To sign the `client_id` header, its name should be treated as `clientId`.
        First, prepare the headers in the format of "header name: header value" with a line separator, e.g.,
        ```
        Digest: SHA-256=ZuYiOtZkVxhjWmwTO5lOpsPevUNMezvk6dfb6fVhebM=
        clientId: WmwTO5lOpsPevUNMezvk6df
        ```
        Then, sign this string using your private key and hash it with SHA-256 using RSA.
        Finally, base64 encode the resulting value. The `Signature` header should include the `keyId`, `algorithm="rsa-sha256"`, `headers` list, and the base64 encoded signature.
      example: |-
        keyId="SN=9FA1,CA=D-TRUST%20CA%202-1%202015,O=D-Trust%20GmbH,C=DE",algorithm="rsa-sha256",
        headers="Digest clientId",
        signature="Base64(RSA-SHA256(signing string))"
      schema:
        type: string
    tpp-signature-certificate:
      name: TPP-Signature-Certificate
      in: header
      description: |-
        The certificate used for signing the request, in base64 encoding.
        Must be included if a signature is present. The request must be signed with your QSEAL certificate.
        The algorithm used for the signature must be RSA-SHA256. If this header is present, the `Signature` and `Digest` headers must also be provided.
      schema:
        type: string
      example: MIIHXTCCBUWgAwIBAgIMIgFezw5y5yKRhs9TMA0GCSqGSIb3DQEBCwUAMGUxCzACORgEBMBMGBgQAjkYBBjAJBgcEAI5GAQYCMDQGBgQAjkYBBTAqMCgWImh0dHBzOi8vd3d3LmNlcnRzaWduLnJvL3JlcG9z...