openapi: 3.0.1
x-kong-name: psd2-periodic-payments-api-132
info:
  title: Periodic Payments API
  version: 1.3.2
externalDocs:
  description: |
    Full Documentation of NextGenPSD2 Access to Account Interoperability Framework
    (General Introduction Paper, Operational Rules, Implementation Guidelines)
  url: https://www.berlin-group.org/nextgenpsd2-downloads
servers:
  - url: https://hu-api-sandbox.raiffeisen.hu/rbhu/prod02/psd2-periodic-payments-api-1.3.2/v1
security:
- clientIdHeader: []
tags:
  - name: Payment Initiation Service (PIS)
    description: |
      The Decription for Payment Initiation Service (PIS) offers the following services:
        * Initiation and update of a payment request
        * Status information of a payment
  - name: Common Services
    description: |
      Processes on starting authorisations, update PSU identification or
       PSU authentication data and explicit authorisation of transactions by using
       SCA are very similar in PIS and AIS and signing baskets services.
       The API calls supporting these processes are described in the following independently
       from the service/endpoint.
       For reasons of clarity, the endpoints are defined always for the Payment Initiation Service, the Payment Cancellation, the Account Information Service (Consents), and Signing Baskets separately. These processes usually are used following a hyperlink of the ASPSP.
paths:
  /{paymentService}/{paymentProduct}/{paymentId}/status:
    get:
      tags:
        - Payment Initiation Service (PIS)
      summary: Payment initiation status request
      description: Check the transaction status of a payment initiation.
      operationId: getPaymentInitiationStatus
      parameters:
        - $ref: '#/components/parameters/payment-service'
        - $ref: '#/components/parameters/payment-product'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/x-request-id'
        - $ref: '#/components/parameters/digest'
        - $ref: '#/components/parameters/signature'
        - $ref: '#/components/parameters/tpp-signature-certificate'
        - $ref: '#/components/parameters/psu-ip-address'
        - $ref: '#/components/parameters/psu-ip-port'
        - $ref: '#/components/parameters/psu-accept'
        - $ref: '#/components/parameters/psu-accept-charset'
        - $ref: '#/components/parameters/psu-accept-encoding'
        - $ref: '#/components/parameters/psu-accept-language'
        - $ref: '#/components/parameters/psu-user-agent'
        - $ref: '#/components/parameters/psu-http-method'
        - $ref: '#/components/parameters/psu-device-id'
        - $ref: '#/components/parameters/psu-geo-location'
      responses:
        200:
          description: OK
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentInitiationStatusResponse-200_json'
        400:
          description: Bad Request
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400_NG_PIS'
        401:
          description: Unauthorized
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401_NG_PIS'
        403:
          description: Forbidden
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403_NG_PIS'
        404:
          description: Not found
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404_NG_PIS'
        405:
          description: Method Not Allowed
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error405_NG_PIS'
        406:
          description: Not Acceptable
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        408:
          description: Request Timeout
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        409:
          description: Conflict
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409_NG_PIS'
        415:
          description: Unsuported Media Type
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        429:
          description: Too Many Requests
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        500:
          description: Internal Server Error
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        503:
          description: Service Unavailable
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
  /{paymentService}/{paymentProduct}/{paymentId}:
    get:
      tags:
        - Payment Initiation Service (PIS)
      summary: Get Payment Information
      description: Returns the content of a payment object.
      operationId: getPaymentInformation
      parameters:
        - $ref: '#/components/parameters/payment-service'
        - $ref: '#/components/parameters/payment-product'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/x-request-id'
        - $ref: '#/components/parameters/digest'
        - $ref: '#/components/parameters/signature'
        - $ref: '#/components/parameters/tpp-signature-certificate'
        - $ref: '#/components/parameters/psu-ip-address'
        - $ref: '#/components/parameters/psu-ip-port'
        - $ref: '#/components/parameters/psu-accept'
        - $ref: '#/components/parameters/psu-accept-charset'
        - $ref: '#/components/parameters/psu-accept-encoding'
        - $ref: '#/components/parameters/psu-accept-language'
        - $ref: '#/components/parameters/psu-user-agent'
        - $ref: '#/components/parameters/psu-http-method'
        - $ref: '#/components/parameters/psu-device-id'
        - $ref: '#/components/parameters/psu-geo-location'
      responses:
        200:
          description: OK
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/periodicPaymentInitiationWithStatusResponse'
        400:
          description: Bad Request
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400_NG_PIS'
        401:
          description: Unauthorized
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401_NG_PIS'
        403:
          description: Forbidden
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403_NG_PIS'
        404:
          description: Not found
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404_NG_PIS'
        405:
          description: Method Not Allowed
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error405_NG_PIS'
        406:
          description: Not Acceptable
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        408:
          description: Request Timeout
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        409:
          description: Conflict
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409_NG_PIS'
        415:
          description: Unsuported Media Type
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        429:
          description: Too Many Requests
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        500:
          description: Internal Server Error
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        503:
          description: Service Unavailable
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
    delete:
      tags:
        - Payment Initiation Service (PIS)
      summary: Payment Cancellation Request
      description: |
        This method initiates the cancellation of a payment.
        Depending on the payment-service, the payment-product and the ASPSP's implementation,
        this TPP call might be sufficient to cancel a payment.
        If an authorisation of the payment cancellation is mandated by the ASPSP,
        a corresponding hyperlink will be contained in the response message.

        Cancels the addressed payment with resource identification paymentId if applicable to the payment-service, payment-product and received in product related timelines (e.g. before end of business day for scheduled payments of the last business day before the scheduled execution day).

        The response to this DELETE command will tell the TPP whether the
          * access method was rejected
          * access method was successful, or
          * access method is generally applicable, but further authorisation processes are needed.
      operationId: cancelPayment
      parameters:
        - $ref: '#/components/parameters/payment-service'
        - $ref: '#/components/parameters/payment-product'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/x-request-id'
        - $ref: '#/components/parameters/digest'
        - $ref: '#/components/parameters/signature'
        - $ref: '#/components/parameters/tpp-signature-certificate'
        - $ref: '#/components/parameters/psu-ip-address'
        - $ref: '#/components/parameters/psu-ip-port'
        - $ref: '#/components/parameters/psu-accept'
        - $ref: '#/components/parameters/psu-accept-charset'
        - $ref: '#/components/parameters/psu-accept-encoding'
        - $ref: '#/components/parameters/psu-accept-language'
        - $ref: '#/components/parameters/psu-user-agent'
        - $ref: '#/components/parameters/psu-http-method'
        - $ref: '#/components/parameters/psu-device-id'
        - $ref: '#/components/parameters/psu-geo-location'
      responses:
        202:
          description: Received
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            application/json:
              schema:
                type: object
        204:
          description: No Content
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content: {}
        400:
          description: Bad Request
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400_NG_PIS'
        401:
          description: Unauthorized
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401_NG_PIS'
        403:
          description: Forbidden
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403_NG_PIS'
        404:
          description: Not found
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404_NG_PIS'
        405:
          description: Method Not Allowed
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error405_NG_PIS'
        406:
          description: Not Acceptable
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        408:
          description: Request Timeout
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        409:
          description: Conflict
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409_NG_PIS'
        415:
          description: Unsuported Media Type
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        429:
          description: Too Many Requests
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        500:
          description: Internal Server Error
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
        503:
          description: Service Unavailable
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
            Location:
              schema:
                type: string
          content: {}
  /{paymentService}/{paymentProduct}/{paymentId}/authorisations/{authorisationId}:
    get:
      tags:
        - Authorisation Sub-Resource
      summary: Get Authorisation Sub-Resource
      description: This method returns the SCA status of a payment initiation's authorisation
        sub-resource.
      operationId: getAuthorisationSubresource
      parameters:
        - $ref: '#/components/parameters/authorisationId'
        - $ref: '#/components/parameters/payment-service'
        - $ref: '#/components/parameters/payment-product'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/x-request-id'
        - $ref: '#/components/parameters/digest'
        - $ref: '#/components/parameters/signature'
        - $ref: '#/components/parameters/tpp-signature-certificate'
        - $ref: '#/components/parameters/psu-ip-address'
        - $ref: '#/components/parameters/psu-ip-port'
        - $ref: '#/components/parameters/psu-accept'
        - $ref: '#/components/parameters/psu-accept-charset'
        - $ref: '#/components/parameters/psu-accept-encoding'
        - $ref: '#/components/parameters/psu-accept-language'
        - $ref: '#/components/parameters/psu-user-agent'
        - $ref: '#/components/parameters/psu-http-method'
        - $ref: '#/components/parameters/psu-device-id'
        - $ref: '#/components/parameters/psu-geo-location'
      responses:
        200:
          description: OK
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaStatusResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400_NG_PIS'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401_NG_PIS'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403_NG_PIS'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404_NG_PIS'
        405:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error405_NG_PIS'
        406:
          description: Not Acceptable
          content:
            application/json:
              schema:
                type: object
        408:
          description: Request Timeout
          content:
            application/json:
              schema:
                type: object
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409_NG_PIS'
        415:
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                type: object
        429:
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
        503:
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
        default:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
      deprecated: false
  /{paymentService}/{paymentProduct}/{paymentId}/authorisations:
    get:
      tags:
        - List Authorisation Sub-Resources
      summary: Get List Authorisation Sub-Resources
      description: Read a list of all authorisation subresources IDs which have been
        created.
      operationId: getListAuthorisationSubresources
      parameters:
        - $ref: '#/components/parameters/payment-service'
        - $ref: '#/components/parameters/payment-product'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/x-request-id'
        - $ref: '#/components/parameters/digest'
        - $ref: '#/components/parameters/signature'
        - $ref: '#/components/parameters/tpp-signature-certificate'
        - $ref: '#/components/parameters/psu-ip-address'
        - $ref: '#/components/parameters/psu-ip-port'
        - $ref: '#/components/parameters/psu-accept'
        - $ref: '#/components/parameters/psu-accept-charset'
        - $ref: '#/components/parameters/psu-accept-encoding'
        - $ref: '#/components/parameters/psu-accept-language'
        - $ref: '#/components/parameters/psu-user-agent'
        - $ref: '#/components/parameters/psu-http-method'
        - $ref: '#/components/parameters/psu-device-id'
        - $ref: '#/components/parameters/psu-geo-location'
      responses:
        200:
          description: OK
          headers:
            X-Request-ID:
              schema:
                type: string
                default: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorisations'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400_NG_PIS'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401_NG_PIS'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403_NG_PIS'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404_NG_PIS'
        405:
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error405_NG_PIS'
        406:
          description: Not Acceptable
          content:
            application/json:
              schema:
                type: object
        408:
          description: Request Timeout
          content:
            application/json:
              schema:
                type: object
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409_NG_PIS'
        415:
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                type: object
        429:
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
        503:
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
        default:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
      deprecated: false
components:
  parameters:
    authorisationId:
      name: authorisationId
      in: path
      description: Resource identification of the related SCA.
      required: true
      schema:
        type: string
    payment-service:
      name: paymentService
      required: true
      in: path
      schema:
        type: string
        enum:
          - periodic-payments
    payment-product:
      name: paymentProduct
      in: path
      required: true
      schema:
        type: string
        enum:
          - domestic
          - sepa-credit-transfers
          - cross-border-credit-transfers
          - domestic-credit-transfers-hr
          - hr-rtgs-payments
    paymentId:
      name: paymentId
      in: path
      required: true
      schema:
        type: string
    x-request-id:
      name: X-Request-ID
      schema:
        type: string
        format: uuid
      required: true
      in: header
      description: ID of the request, unique to the call, as determined by the initiating
        party.
    digest:
      name: Digest
      in: header
      description: |-
        The digest is a base64 encoded hash of the body.
        Hash the body of your request (or an empty string if there is no body) using the SHA-256 algorithm.
        Base64 encode the output and add the result to your Digest header, specifying the hashing algorithm used.
      schema:
        type: string
      example: SHA-256=ZuYiOtZkVxhjWmwTO5lOpsPevUNMezvk6dfb6fVhebM=
    signature:
      name: Signature
      in: header
      description: |-
        A signature of the request by the TPP at the application level. This might be mandated by the ASPSP. 
        The signature is a list of headers with their signed values. Any header can be used in the signature (including the `Digest` header), with the exception of the `client_id` header. 
        To sign the `client_id` header, its name should be treated as `clientId`.
        First, prepare the headers in the format of "header name: header value" with a line separator, e.g.,
        ```
        Digest: SHA-256=ZuYiOtZkVxhjWmwTO5lOpsPevUNMezvk6dfb6fVhebM=
        clientId: WmwTO5lOpsPevUNMezvk6df
        ```
        Then, sign this string using your private key and hash it with SHA-256 using RSA.
        Finally, base64 encode the resulting value. The `Signature` header should include the `keyId`, `algorithm="rsa-sha256"`, `headers` list, and the base64 encoded signature.
      example: |-
        keyId="SN=9FA1,CA=D-TRUST%20CA%202-1%202015,O=D-Trust%20GmbH,C=DE",algorithm="rsa-sha256",
        headers="Digest clientId",
        signature="Base64(RSA-SHA256(signing string))"
      schema:
        type: string
    tpp-signature-certificate:
      name: TPP-Signature-Certificate
      in: header
      description: |-
        The certificate used for signing the request, in base64 encoding.
        Must be included if a signature is present. The request must be signed with your QSEAL certificate.
        The algorithm used for the signature must be RSA-SHA256. If this header is present, the `Signature` and `Digest` headers must also be provided.
      schema:
        type: string
      example: MIIHXTCCBUWgAwIBAgIMIgFezw5y5yKRhs9TMA0GCSqGSIb3DQEBCwUAMGUxCzACORgEBMBMGBgQAjkYBBjAJBgcEAI5GAQYCMDQGBgQAjkYBBTAqMCgWImh0dHBzOi8vd3d3LmNlcnRzaWduLnJvL3JlcG9z...
    psu-ip-address:
      name: PSU-IP-Address
      in: header
      description: "The forwarded IP Address header field consists of the corresponding\
        \ HTTP request \nIP Address field between PSU and TPP. \nIt shall be contained\
        \ if and only if this request was actively initiated by the PSU."
      schema:
        type: string
    psu-ip-port:
      name: PSU-IP-Port
      in: header
      description: The forwarded IP Port header field consists of the corresponding
        HTTP request IP Port field between PSU and TPP, if available.
      schema:
        type: string
    psu-accept:
      name: PSU-Accept
      in: header
      description: The forwarded IP Accept header fields consist of the corresponding
        HTTP request Accept header fields between PSU and TPP, if available.
      schema:
        type: string
    psu-accept-charset:
      name: PSU-Accept-Charset
      in: header
      description: The forwarded IP Accept header fields consist of the corresponding
        HTTP request Accept header fields between PSU and TPP, if available.
      schema:
        type: string
    psu-accept-encoding:
      name: PSU-Accept-Encoding
      in: header
      description: The forwarded IP Accept header fields consist of the corresponding
        HTTP request Accept header fields between PSU and TPP, if available.
      schema:
        type: string
    psu-accept-language:
      name: PSU-Accept-Language
      in: header
      description: The forwarded IP Accept header fields consist of the corresponding
        HTTP request Accept header fields between PSU and TPP, if available.
      schema:
        type: string
    psu-user-agent:
      name: PSU-User-Agent
      in: header
      description: |-
        The forwarded Agent header field of the HTTP request between
        PSU and TPP, if available.
        Examples
          * Android:  "Myappa/1.2 Dalvik/2.1.0 (Linux; U; Android 6.0.1; vivo 1610 Build/MMB29M)"
          * iOS: "MyApp/1 iPhone5,2 iOS/10_1 CFNetwork/808.3 Darwin/16.3.0"
      schema:
        type: string
    psu-http-method:
      name: PSU-Http-Method
      in: header
      description: |-
        HTTP method used at the PSU ? TPP interface, if available.
        Valid values are:
        * GET
        * POST
        * PUT
        * PATCH
        * DELETE
      schema:
        type: string
        enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
    psu-device-id:
      name: PSU-Device-ID
      in: header
      description: |-
        UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.
        UUID identifies either a device or a device dependant application installation.
        In case of an installation identification this ID need to be unaltered until removal from device.
      schema:
        type: string
        format: uuid
    psu-geo-location:
      name: PSU-Geo-Location
      in: header
      description: The forwarded Geo Location of the corresponding http request
        between PSU and TPP if available.
      schema:
        pattern: (GEO:)[0-9]{1,3}\.[-][0-9]{6}\,[-][0-9]{1,3}\.[0-9]{6}
        type: string
  schemas:
    transactionStatus:
      title: transactionStatus
      type: string
      description: "The transaction status is filled with codes of the ISO 20022 data\
        \ table:\n- 'ACCC': 'AcceptedSettlementCompleted' -\n  Settlement on the creditor's\
        \ account has been completed.\n- 'ACCP': 'AcceptedCustomerProfile' - \n  Preceding\
        \ check of technical validation was successful. \n  Customer profile check\
        \ was also successful.\n- 'ACSC': 'AcceptedSettlementCompleted' - \n  Settlement\
        \ on the debtor?s account has been completed.\n  \n  **Usage:** this can be\
        \ used by the first agent to report to the debtor that the transaction has\
        \ been completed. \n  \n  **Warning:** this status is provided for transaction\
        \ status reasons, not for financial information. \n  It can only be used after\
        \ bilateral agreement.\n- 'ACSP': 'AcceptedSettlementInProcess' - \n  All\
        \ preceding checks such as technical validation and customer profile were\
        \ successful and therefore the payment initiation has been accepted for execution.\n\
        - 'ACTC': 'AcceptedTechnicalValidation' - \n  Authentication and syntactical\
        \ and semantical validation are successful.\n- 'ACWC': 'AcceptedWithChange'\
        \ - \n  Instruction is accepted but a change will be made, such as date or\
        \ remittance not sent.\n- 'ACWP': 'AcceptedWithoutPosting' - \n  Payment instruction\
        \ included in the credit transfer is accepted without being posted to the\
        \ creditor customer?s account.\n- 'RCVD': 'Received' - \n  Payment initiation\
        \ has been received by the receiving agent.\n- 'PDNG': 'Pending' - \n  Payment\
        \ initiation or individual transaction included in the payment initiation\
        \ is pending. \n  Further checks and status update will be performed.\n- 'RJCT':\
        \ 'Rejected' - \n  Payment initiation or individual transaction included in\
        \ the payment initiation has been rejected.\n- 'CANC': 'Cancelled'\n  Payment\
        \ initiation has been cancelled before execution\n  Remark: This code is still\
        \ requested from ISO20022.\n- 'ACFC': 'AcceptedFundsChecked' -\n  Preceeding\
        \ check of technical validation and customer profile was successful and an\
        \ automatic funds check was positive .\n  Remark: This code is still requested\
        \ from ISO20022.\n- 'PATC': 'PartiallyAcceptedTechnical'\n  Correct The payment\
        \ initiation needs multiple authentications, where some but not yet all have\
        \ been performed. Syntactical and semantical validations are successful.\n\
        \  Remark: This code is still requested from ISO20022."
      example: ACCC
      enum:
        - ACCC
        - ACCP
        - ACSC
        - ACSP
        - ACTC
        - ACWC
        - ACWP
        - RCVD
        - PDNG
        - RJCT
        - CANC
        - ACFC
        - PATC
    authenticationObject:
      title: authenticationObject
      required:
        - authenticationMethodId
        - authenticationType
      type: object
      properties:
        authenticationType:
          $ref: '#/components/schemas/authenticationType'
        authenticationVersion:
          type: string
          description: |-
            Depending on the "authenticationType".
            This version can be used by differentiating authentication tools used within performing OTP generation in the same authentication type.
            This version can be referred to in the ASPSP?s documentation.
        authenticationMethodId:
          maxLength: 35
          type: string
          description: An identification provided by the ASPSP for the later identification
            of the authentication method selection.
          example: myAuthenticationID
        name:
          type: string
          description: |-
            This is the name of the authentication method defined by the PSU in the Online Banking frontend of the ASPSP.
            Alternatively this could be a description provided by the ASPSP like "SMS OTP on phone +49160 xxxxx 28".
            This name shall be used by the TPP when presenting a list of authentication methods to the PSU, if available.
          example: SMS OTP on phone +49160 xxxxx 28
        explanation:
          type: string
          description: Detailed information about the SCA method for the PSU.
          example: Detailed information about the SCA method for the PSU.
      description: Authentication Object
    authenticationType:
      title: authenticationType
      type: string
      description: "Type of the authentication method.\n\nMore authentication types\
        \ might be added during implementation projects and documented in the ASPSP\
        \ documentation.\n\n  - 'SMS_OTP': An SCA method, where an OTP linked to the\
        \ transaction to be authorised is sent to the PSU through a SMS channel.\n\
        \  - 'CHIP_OTP': An SCA method, where an OTP is generated by a chip card,\
        \ e.g. an TOP derived from an EMV cryptogram. \n    To contact the card, the\
        \ PSU normally needs a (handheld) device. \n    With this device, the PSU\
        \ either reads the challenging data through a visual interface like flickering\
        \ or \n    the PSU types in the challenge through the device key pad. \n \
        \   The device then derives an OTP from the challenge data and displays the\
        \ OTP to the PSU.\n  - 'PHOTO_OTP': An SCA method, where the challenge is\
        \ a QR code or similar encoded visual data \n    which can be read in by a\
        \ consumer device or specific mobile app. \n    The device resp. the specific\
        \ app than derives an OTP from the visual challenge data and displays \n \
        \   the OTP to the PSU.\n  - 'PUSH_OTP': An OTP is pushed to a dedicated authentication\
        \ APP and displayed to the PSU."
      example: SMS_OTP
      enum:
        - SMS_OTP
        - CHIP_OTP
        - PHOTO_OTP
        - PUSH_OTP
    challengeData:
      title: challengeData
      type: object
      properties:
        image:
          type: string
          description: |-
            PNG data (max. 512 kilobyte) to be displayed to the PSU,
            Base64 encoding, cp. [RFC4648].
            This attribute is used only, when PHOTO_OTP or CHIP_OTP
            is the selected SCA method.
        data:
          type: string
          description: String challenge data
        imageLink:
          type: string
          description: A link where the ASPSP will provides the challenge image for
            the TPP.
        otpMaxLength:
          type: integer
          description: The maximal length for the OTP to be typed in by the PSU.
          format: int32
        otpFormat:
          $ref: '#/components/schemas/OtpFormat'
        additionalInformation:
          type: string
          description: |-
            Additional explanation for the PSU to explain
            e.g. fallback mechanism for the chosen SCA method.
            The TPP is obliged to show this to the PSU.
      description: |-
        It is contained in addition to the data element 'chosenScaMethod' if challenge data is needed for SCA.
        In rare cases this attribute is also used in the context of the 'startAuthorisationWithPsuAuthentication' link.
    accountReference:
      title: accountReference
      type: object
      properties:
        iban:
          pattern: '[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}'
          type: string
          description: IBAN of an account
          example: FR7612345987650123456789014
        bban:
          pattern: '[a-zA-Z0-9]{1,30}'
          type: string
          description: "Basic Bank Account Number (BBAN) Identifier\n\nThis data element\
            \ can be used in the body of the Consent Request\n  Message for retrieving\
            \ Account access Consent from this Account. This\n  data elements is used\
            \ for payment Accounts which have no IBAN.\n  ISO20022: Basic Bank Account\
            \ Number (BBAN). \n  \n  Identifier used nationally by financial institutions,\
            \ i.e., in individual countries, \n  generally as part of a National Account\
            \ Numbering Scheme(s), \n  which uniquely identifies the account of a\
            \ customer."
          example: BARC12345612345678
        pan:
          maxLength: 35
          type: string
          description: Primary Account Number according to ISO/IEC 7812.
          example: "5409050000000000"
        maskedPan:
          maxLength: 35
          type: string
          description: Masked Primary Account Number
          example: 123456xxxxxx1234
        msisdn:
          maxLength: 35
          type: string
          description: Mobile phone number.
          example: +49 170 1234567
        currency:
          pattern: '[A-Z]{3}'
          type: string
          description: ISO 4217 Alpha 3 currency code
          example: EUR
      description: "Reference to an account by either\n  * IBAN, of a payment accounts,\
        \ or\n  * BBAN, for payment accounts if there is no IBAN, or \n  * the Primary\
        \ Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI\
        \ DSS requirements, or\n  * the Primary Account Number (PAN) of a card in\
        \ a masked form, or\n  * an alias to access a payment account via a registered\
        \ mobile phone number (MSISDN)."
    address:
      title: address
      required:
        - country
      type: object
      properties:
        street:
          maxLength: 70
          type: string
        buildingNumber:
          type: string
        city:
          type: string
        postalCode:
          type: string
        country:
          pattern: '[A-Z]{2}'
          type: string
          description: ISO 3166 ALPHA2 country code
          example: SE
      example:
        street: rue blue
        buildingnNumber: "89"
        city: Paris
        postalCode: "75000"
        country: FR
    chargeBearer:
      type: string
      description: Charge Bearer. ChargeBearerType1Code from ISO20022
      enum:
        - DEBT
        - CRED
        - SHAR
        - SLEV
    creditorAgentName:
      maxLength: 70
      type: string
      description: Creditor Agent Name
      example: Creditor Agent Name
    amount:
      title: amount
      required:
        - amount
        - currency
      type: object
      properties:
        currency:
          pattern: '[A-Z]{3}'
          type: string
          description: ISO 4217 Alpha 3 currency code
          example: EUR
        amount:
          pattern: -?[0-9]{1,14}(\.[0-9]{1,3})?
          type: string
          description: |-
            The amount given with fractional digits, where fractions must be compliant to the currency definition.
            Up to 14 significant figures. Negative amounts are signed by minus.
            The decimal separator is a dot.

            **Example:**
            Valid representations for EUR with up to two decimals are:

              * 1056
              * 5768.2
              * -1.50
              * 5877.78
          example: "5877.78"
      example:
        currency: EUR
        amount: "123"
    frequencyCode:
      title: frequencyCode
      type: string
      description: |-
        The following codes from the "EventFrequency7Code" of ISO 20022 are supported.
        - "Daily"
        - "Weekly"
        - "EveryTwoWeeks"
        - "Monthly"
        - "EveryTwoMonths"
        - "Quarterly"
        - "SemiAnnual"
        - "Annual"
      example: Daily
      enum:
        - Daily
        - Weekly
        - EveryTwoWeeks
        - Monthly
        - EveryTwoMonths
        - Quarterly
        - SemiAnnual
        - Annual
    dayOfExecution:
      title: dayOfExecution
      type: integer
      description: |-
        Day of execution as string.

        This string consists of up two characters.
        Leading zeroes are not allowed.

        31 is ultimo of the month.
      format: int32
      example: 1
      enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 15
        - 16
        - 17
        - 18
        - 19
        - 20
        - 21
        - 22
        - 23
        - 24
        - 25
        - 26
        - 27
        - 28
        - 29
        - 30
        - 31
    executionRule:
      title: executionRule
      type: string
      description: "\"following\" or \"preceeding\" supported as values. \nThis data\
        \ attribute defines the behavior when recurring payment dates falls on a weekend\
        \ or bank holiday. \nThe payment is then executed either the \"preceeding\"\
        \ or \"following\" working day.\nASPSP might reject the request due to the\
        \ communicated value, if rules in Online-Banking are not supporting \nthis\
        \ execution rule."
      example: following
      enum:
        - following
        - preceeding
    chosenScaMethod:
      type: object
      description: |
        This data element is only contained in the response if the APSPS has chosen the Embedded SCA Approach,
        if the PSU is already identified e.g. with the first relevant factor or alternatively an access token,
        if SCA is required and if the authentication method is implicitly selected.
        $ref: '#/definitions/authenticationObject'
    scaMethods:
      type: array
      description: |
        This data element might be contained, if SCA is required and if the PSU has a choice between different
        authentication methods.

        Depending on the risk management of the ASPSP this choice might be offered before or after the PSU
        has been identified with the first relevant factor, or if an access token is transported.

        If this data element is contained, then there is also an hyperlink of type 'startAuthorisationWithAuthenticationMethodSelection'
        contained in the response body.

        These methods shall be presented towards the PSU for selection by the TPP.
      items:
        $ref: '#/components/schemas/authenticationObject'
    informationStructured:
      title: Remittance
      type: object
      properties:
        reference:
          maxLength: 35
          type: string
          description: The actual reference.
          example: The actual reference
        referenceType:
          maxLength: 35
          type: string
          description: referenceType
          example: referenceType
        referenceIssuer:
          maxLength: 35
          type: string
          description: referenceIssuer
          example: referenceIssuer
      description: ""
    paymentInitiationSct_json:
      title: paymentInitiationSct_json
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - instructedAmount
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        creditorAgentName:
          $ref: '#/components/schemas/creditorAgentName'
        chargeBearer:
          $ref: '#/components/schemas/chargeBearer'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
          description: Unstructured remittance information
          example: Ref Number Merchant
        requestedExecutionDate:
          type: string
          format: date
      description: Body for a SCT payment initation.
    paymentInitiationSctInst_json:
      title: paymentInitiationSctInst_json
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - instructedAmount
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
      description: Body for a SCT INST payment initation.
    paymentInitiationTarget2_json:
      title: paymentInitiationTarget2_json
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - instructedAmount
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
      description: Body for a TARGET-2 payment initation.
    paymentInitiationSctBulkElement_json:
      title: paymentInitiationSctBulkElement_json
      required:
        - creditorAccount
        - creditorName
        - instructedAmount
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
          description: Unstructured remittance information
          example: Ref Number Merchant
      description: Body for a bulk SCT payment initation.
    paymentInitiationSctInstBulkElement_json:
      title: paymentInitiationSctInstBulkElement_json
      required:
        - creditorAccount
        - creditorName
        - instructedAmount
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
      description: Body for a SCT INST payment initation.
    paymentInitiationTarget2BulkElement_json:
      title: paymentInitiationTarget2BulkElement_json
      required:
        - creditorAccount
        - creditorName
        - instructedAmount
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
      description: Body for a bulk TARGET-2 payment initation.
    paymentInitiationCrossBorderBulkElement_json:
      title: paymentInitiationCrossBorderBulkElement_json
      required:
        - creditorAccount
        - creditorName
        - instructedAmount
      type: object
      properties:
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
      description: JSON body for a cross-border payment initation.
    paymentInitiationWithStatusResponse:
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - instructedAmount
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
          description: Unstructured remittance information
          example: Ref Number Merchant
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: |
        Generic JSON response body consistion of the corresponding payment initation JSON body together with an optional transaction status field.
    paymentInitiationCancelResponse-202:
      required:
        - transactionStatus
      type: object
      properties:
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
        scaMethods:
          $ref: '#/components/schemas/scaMethods'
        chosenScaMethod:
          $ref: '#/components/schemas/chosenScaMethod'
        challengeData:
          $ref: '#/components/schemas/challengeData'
        _links:
          $ref: '#/components/schemas/_linksPaymentInitiationCancel'
      description: |
        Body of the response for a successful cancel payment request.
    periodicPaymentInitiationSct_json:
      title: periodicPaymentInitiationSct_json
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - frequency
        - instructedAmount
        - startDate
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
          description: Unstructured remittance information
          example: Ref Number Merchant
        startDate:
          type: string
          description: The first applicable day of execution starting from this date
            is the first payment.
          format: date
        endDate:
          type: string
          description: |-
            The last applicable day of execution
            If not given, it is an infinite standing order.
          format: date
        executionRule:
          $ref: '#/components/schemas/executionRule'
        frequency:
          $ref: '#/components/schemas/frequencyCode'
        dayOfExecution:
          $ref: '#/components/schemas/dayOfExecution'
      description: JSON Body for a periodic SCT payment initation.
    periodicPaymentInitiationSctInst_json:
      title: periodicPaymentInitiationSctInst_json
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - frequency
        - instructedAmount
        - startDate
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
        startDate:
          type: string
          description: The first applicable day of execution starting from this date
            is the first payment.
          format: date
        endDate:
          type: string
          description: |-
            The last applicable day of execution
            If not given, it is an infinite standing order.
          format: date
        executionRule:
          $ref: '#/components/schemas/executionRule'
        frequency:
          $ref: '#/components/schemas/frequencyCode'
        dayOfExecution:
          $ref: '#/components/schemas/dayOfExecution'
      description: JSON Body for a periodic SCT INST payment initation.
    periodicPaymentInitiationTarget2_json:
      title: periodicPaymentInitiationTarget2_json
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - frequency
        - instructedAmount
        - startDate
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
        startDate:
          type: string
          description: The first applicable day of execution starting from this date
            is the first payment.
          format: date
        endDate:
          type: string
          description: |-
            The last applicable day of execution
            If not given, it is an infinite standing order.
          format: date
        executionRule:
          $ref: '#/components/schemas/executionRule'
        frequency:
          $ref: '#/components/schemas/frequencyCode'
        dayOfExecution:
          $ref: '#/components/schemas/dayOfExecution'
      description: JSON Body for a periodic target-2 payment initation.
    periodicPaymentInitiationCrossBorder_json:
      title: periodicPaymentInitiationCrossBorder_json
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - frequency
        - instructedAmount
        - startDate
      type: object
      properties:
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
        startDate:
          type: string
          description: The first applicable day of execution starting from this date
            is the first payment.
          format: date
        endDate:
          type: string
          description: |-
            The last applicable day of execution
            If not given, it is an infinite standing order.
          format: date
        executionRule:
          $ref: '#/components/schemas/executionRule'
        frequency:
          $ref: '#/components/schemas/frequencyCode'
        dayOfExecution:
          $ref: '#/components/schemas/dayOfExecution'
      description: JSON body for a periodic cross-border payment initation.
    periodicPaymentInitiationWithStatusResponse:
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - frequency
        - instructedAmount
        - startDate
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
          description: Unstructured remittance information
          example: Ref Number Merchant
        startDate:
          type: string
          description: The first applicable day of execution starting from this date
            is the first payment.
          format: date
        endDate:
          type: object
          description: |-
            The last applicable day of execution
            If not given, it is an infinite standing order.
        executionRule:
          $ref: '#/components/schemas/executionRule'
        frequency:
          $ref: '#/components/schemas/frequencyCode'
        dayOfExecution:
          $ref: '#/components/schemas/dayOfExecution'
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: |
        Generic JSON response body consistion of the corresponding periodic payment initation JSON body together with an optional transaction status field.
    bulkPaymentInitiationSct_json:
      title: bulkPaymentInitiationSct_json
      required:
        - debtorAccount
        - payments
      type: object
      properties:
        batchBookingPreferred:
          type: boolean
          description: "If this element equals 'true', the PSU prefers only one booking\
            \ entry. \nIf this element equals 'false', the PSU prefers individual\
            \ booking of all contained individual transactions. \n\nThe ASPSP will\
            \ follow this preference according to contracts agreed on with the PSU."
          example: false
        requestedExecutionDate:
          type: string
          format: date
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        payments:
          type: array
          description: A list of JSON bodies for SCT payments.
          items:
            $ref: '#/components/schemas/paymentInitiationSctBulkElement_json'
      description: JSON Body for a bulk SCT payment initation.
    bulkPaymentInitiationSctInst_json:
      title: bulkPaymentInitiationSctInst_json
      required:
        - debtorAccount
        - payments
      type: object
      properties:
        batchBookingPreferred:
          type: boolean
          description: "If this element equals 'true', the PSU prefers only one booking\
            \ entry. \nIf this element equals 'false', the PSU prefers individual\
            \ booking of all contained individual transactions. \n\nThe ASPSP will\
            \ follow this preference according to contracts agreed on with the PSU."
          example: false
        requestedExecutionDate:
          type: string
          format: date
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        payments:
          type: array
          description: A list of JSON bodies for SCT INST payments.
          items:
            $ref: '#/components/schemas/paymentInitiationSctInstBulkElement_json'
      description: JSON Body for a bulk SCT INST payment initation.
    bulkPaymentInitiationTarget2_json:
      title: bulkPaymentInitiationTarget2_json
      required:
        - debtorAccount
        - payments
      type: object
      properties:
        batchBookingPreferred:
          type: boolean
          description: "If this element equals 'true', the PSU prefers only one booking\
            \ entry. \nIf this element equals 'false', the PSU prefers individual\
            \ booking of all contained individual transactions. \n\nThe ASPSP will\
            \ follow this preference according to contracts agreed on with the PSU."
          example: false
        requestedExecutionDate:
          type: string
          format: date
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        payments:
          type: array
          description: A list of JSON bodies for TARGET-2 payments.
          items:
            $ref: '#/components/schemas/paymentInitiationTarget2BulkElement_json'
      description: JSON Body for a bulk TARGET-2 payment initation.
    bulkPaymentInitiationCrossBorder_json:
      title: bulkPaymentInitiationCrossBorder_json
      required:
        - debtorAccount
        - payments
      type: object
      properties:
        batchBookingPreferred:
          type: boolean
          description: "If this element equals 'true', the PSU prefers only one booking\
            \ entry. \nIf this element equals 'false', the PSU prefers individual\
            \ booking of all contained individual transactions. \n\nThe ASPSP will\
            \ follow this preference according to contracts agreed on with the PSU."
          example: false
        requestedExecutionDate:
          type: string
          format: date
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        payments:
          type: array
          description: A List of JSON bodies for cross-border payments.
          items:
            $ref: '#/components/schemas/paymentInitiationCrossBorderBulkElement_json'
      description: JSON body for a bulk cross-border payment initation.
    bulkPaymentInitiationWithStatusResponse:
      required:
        - debtorAccount
        - payments
      type: object
      properties:
        batchBookingPreferred:
          type: boolean
          description: "If this element equals 'true', the PSU prefers only one booking\
            \ entry. \nIf this element equals 'false', the PSU prefers individual\
            \ booking of all contained individual transactions. \n\nThe ASPSP will\
            \ follow this preference according to contracts agreed on with the PSU."
          example: false
        requestedExecutionDate:
          type: string
          format: date
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        payments:
          type: array
          description: |
            A list of generic JSON bodies payment initations for bulk payments via JSON.

            Note: Some fields from single payments do not occcur in a bulk payment element
          items:
            $ref: '#/components/schemas/paymentInitiationBulkElement_json'
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: |
        Generic JSON response body consistion of the corresponding bulk payment initation JSON body together with an optional transaction status field.
    periodicPaymentInitiationMultipartBody:
      title: periodicPaymentInitiationMultipartBody
      type: object
      properties:
        xml_sct:
          type: object
          properties: {}
        json_standingorderType:
          $ref: '#/components/schemas/periodicPaymentInitiation_xml-Part2-standingorderType_json'
      description: "The multipart message definition for the initiation of a periodic\
        \ payment initiation \nwhere the information of the payment is contained in\
        \ an pain.001 message (Part 1) and \nthe additional informations related to\
        \ the periodic payment is an additional JSON message (Part 2)."
    periodicPaymentInitiation_xml-Part2-standingorderType_json:
      title: periodicPaymentInitiation_xml-Part2-standingorderType_json
      required:
        - frequency
        - startDate
      type: object
      properties:
        startDate:
          type: string
          description: The first applicable day of execution starting from this date
            is the first payment.
          format: date
        endDate:
          type: string
          description: |-
            The last applicable day of execution
            If not given, it is an infinite standing order.
          format: date
        executionRule:
          $ref: '#/components/schemas/executionRule'
        frequency:
          $ref: '#/components/schemas/frequencyCode'
        dayOfExecution:
          $ref: '#/components/schemas/dayOfExecution'
      description: "The body part 2 of a periodic payment initation request containes\
        \ the execution related informations \nof the periodic payment."
    paymentInitiationStatusResponse-200_json:
      title: paymentInitiationStatusResponse-200_json
      required:
        - transactionStatus
      type: object
      properties:
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: Body of the response for a successful payment initiation status
        request in case of an JSON based endpoint.
    paymentInitationRequestResponse-201:
      title: paymentInitationRequestResponse-201
      required:
        - _links
        - paymentId
        - transactionStatus
      type: object
      properties:
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
        paymentId:
          type: string
          description: Resource identification of the generated payment initiation
            resource.
          example: 1234-wertiq-983
        transactionFees:
          $ref: '#/components/schemas/amount'
        transactionFeeIndicator:
          type: boolean
          description: |-
            If equals 'true', the transaction will involve specific transaction cost as shown by the ASPSP in
            their public price list or as agreed between ASPSP and PSU.
            If equals 'false', the transaction will not involve additional specific transaction costs to the PSU.
        scaMethods:
          type: array
          description: |-
            This data element might be contained, if SCA is required and if the PSU has a choice between different
            authentication methods.

            Depending on the risk management of the ASPSP this choice might be offered before or after the PSU
            has been identified with the first relevant factor, or if an access token is transported.

            If this data element is contained, then there is also an hyperlink of type 'startAuthorisationWithAuthenticationMethodSelection'
            contained in the response body.

            These methods shall be presented towards the PSU for selection by the TPP.
          items:
            $ref: '#/components/schemas/authenticationObject'
        chosenScaMethod:
          $ref: '#/components/schemas/authenticationObject'
        challengeData:
          $ref: '#/components/schemas/challengeData'
        _links:
          $ref: '#/components/schemas/_linksPaymentInitiation'
        psuMessage:
          maxLength: 512
          type: string
          description: Text to be displayed to the PSU
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage2XX'
        serviceLevel:
          type: string
          enum:
            - SEPA
            - URGP
            - SDVA
            - NEXT
            - SPOT
            - NURG
        endToEndIdentification:
          maxLength: 35
          type: string
        creditorAgentName:
          $ref: '#/components/schemas/creditorAgentName'
      description: Body of the response for a successful payment initiation request.
    paymentInitationRequestMultiLevelScaResponse-201:
      title: paymentInitationRequestMultiLevelScaResponse-201
      required:
        - _links
        - paymentId
        - transactionStatus
      type: object
      properties:
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
        paymentId:
          type: string
          description: Resource identification of the generated payment initiation
            resource.
          example: 1234-wertiq-983
        transactionFees:
          $ref: '#/components/schemas/amount'
        transactionFeeIndicator:
          type: boolean
          description: |-
            If equals 'true', the transaction will involve specific transaction cost as shown by the ASPSP in
            their public price list or as agreed between ASPSP and PSU.
            If equals 'false', the transaction will not involve additional specific transaction costs to the PSU.
        _links:
          $ref: '#/components/schemas/_linksPaymentInitiationMultiLevelSca'
        psuMessage:
          maxLength: 512
          type: string
          description: Text to be displayed to the PSU
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage2XX'
      description: Body of the response for a successful payment initiation request.
    paymentInitiationCancelResponse-204_202:
      title: paymentInitiationCancelResponse-204_202
      required:
        - transactionStatus
      type: object
      properties:
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
        scaMethods:
          type: array
          description: |-
            This data element might be contained, if SCA is required and if the PSU has a choice between different
            authentication methods.

            Depending on the risk management of the ASPSP this choice might be offered before or after the PSU
            has been identified with the first relevant factor, or if an access token is transported.

            If this data element is contained, then there is also an hyperlink of type 'startAuthorisationWithAuthenticationMethodSelection'
            contained in the response body.

            These methods shall be presented towards the PSU for selection by the TPP.
          items:
            $ref: '#/components/schemas/authenticationObject'
        chosenScaMethod:
          $ref: '#/components/schemas/authenticationObject'
        challengeData:
          $ref: '#/components/schemas/challengeData'
        _links:
          $ref: '#/components/schemas/_linksPaymentInitiationCancel'
      description: Body of the response for a successful cancel payment request.
    paymentInitiationSctWithStatusResponse:
      title: paymentInitiationSctWithStatusResponse
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - instructedAmount
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
          description: Unstructured remittance information
          example: Ref Number Merchant
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: JSON response body consistion of the corresponding SCT payment
        initation JSON body together with an optional transaction status field.
    paymentInitiationSctInstWithStatusResponse:
      title: paymentInitiationSctInstWithStatusResponse
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - instructedAmount
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: JSON response body consistion of the corresponding SCT INST payment
        initation JSON body together with an optional transaction status field.
    paymentInitiationTarget2WithStatusResponse:
      title: paymentInitiationTarget2WithStatusResponse
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - instructedAmount
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: "JSON response body consistion of the corresponding TARGET-2 payment\
        \ initation JSON body together with an \noptional transaction status field."
    paymentInitiationCrossBorderWithStatusResponse:
      title: paymentInitiationCrossBorderWithStatusResponse
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - instructedAmount
      type: object
      properties:
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: JSON response body consistion of the corresponding cross-border
        payment initation JSON body together with an optional transaction status field.
    periodicPaymentInitiationSctWithStatusResponse:
      title: periodicPaymentInitiationSctWithStatusResponse
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - frequency
        - instructedAmount
        - startDate
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
          description: Unstructured remittance information
          example: Ref Number Merchant
        startDate:
          type: string
          description: The first applicable day of execution starting from this date
            is the first payment.
          format: date
        endDate:
          type: string
          description: |-
            The last applicable day of execution
            If not given, it is an infinite standing order.
          format: date
        executionRule:
          $ref: '#/components/schemas/executionRule'
        frequency:
          $ref: '#/components/schemas/frequencyCode'
        dayOfExecution:
          $ref: '#/components/schemas/dayOfExecution'
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: JSON response body consistion of the corresponding periodic SCT
        payment initation JSON body together with an optional transaction status field.
    periodicPaymentInitiationSctInstWithStatusResponse:
      title: periodicPaymentInitiationSctInstWithStatusResponse
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - frequency
        - instructedAmount
        - startDate
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
          description: Unstructured remittance information
          example: Ref Number Merchant
        startDate:
          type: string
          description: The first applicable day of execution starting from this date
            is the first payment.
          format: date
        endDate:
          type: string
          description: |-
            The last applicable day of execution
            If not given, it is an infinite standing order.
          format: date
        executionRule:
          $ref: '#/components/schemas/executionRule'
        frequency:
          $ref: '#/components/schemas/frequencyCode'
        dayOfExecution:
          $ref: '#/components/schemas/dayOfExecution'
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: JSON response body consistion of the corresponding periodic SCT
        INST payment initation JSON body together with an optional transaction status
        field.
    periodicPaymentInitiationTarget2WithStatusResponse:
      title: periodicPaymentInitiationTarget2WithStatusResponse
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - frequency
        - instructedAmount
        - startDate
      type: object
      properties:
        endToEndIdentification:
          maxLength: 35
          type: string
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
        startDate:
          type: string
          description: The first applicable day of execution starting from this date
            is the first payment.
          format: date
        endDate:
          type: string
          description: |-
            The last applicable day of execution
            If not given, it is an infinite standing order.
          format: date
        executionRule:
          $ref: '#/components/schemas/executionRule'
        frequency:
          $ref: '#/components/schemas/frequencyCode'
        dayOfExecution:
          $ref: '#/components/schemas/dayOfExecution'
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: "JSON response body consistion of the corresponding periodic TARGET-2\
        \ payment initation JSON body together with \nan optional transaction status\
        \ field."
    periodicPaymentInitiationCrossBorderWithStatusResponse:
      title: periodicPaymentInitiationCrossBorderWithStatusResponse
      required:
        - creditorAccount
        - creditorName
        - debtorAccount
        - frequency
        - instructedAmount
        - startDate
      type: object
      properties:
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        instructedAmount:
          $ref: '#/components/schemas/amount'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        creditorAgent:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: BICFI
          example: AAAADEBBXXX
        creditorName:
          maxLength: 70
          type: string
          description: Creditor Name
          example: Creditor Name
        creditorAddress:
          $ref: '#/components/schemas/address'
        remittanceInformationUnstructured:
          maxLength: 140
          type: string
        startDate:
          type: string
          description: The first applicable day of execution starting from this date
            is the first payment.
          format: date
        endDate:
          type: string
          description: |-
            The last applicable day of execution
            If not given, it is an infinite standing order.
          format: date
        executionRule:
          $ref: '#/components/schemas/executionRule'
        frequency:
          $ref: '#/components/schemas/frequencyCode'
        dayOfExecution:
          $ref: '#/components/schemas/dayOfExecution'
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: JSON response body consistion of the corresponding periodic cross-border
        payment initation JSON body together with an optional transaction status field.
    bulkPaymentInitiationSctWithStatusResponse:
      title: bulkPaymentInitiationSctWithStatusResponse
      required:
        - debtorAccount
        - payments
      type: object
      properties:
        batchBookingPreferred:
          type: boolean
          description: "If this element equals 'true', the PSU prefers only one booking\
            \ entry. \nIf this element equals 'false', the PSU prefers individual\
            \ booking of all contained individual transactions. \n\nThe ASPSP will\
            \ follow this preference according to contracts agreed on with the PSU."
          example: false
        requestedExecutionDate:
          type: string
          format: date
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        payments:
          type: array
          description: A list of JSON bodies for SCT payments.
          items:
            $ref: '#/components/schemas/paymentInitiationSct_json'
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: JSON response body consistion of the corresponding bulk SCT payment
        initation JSON body together with an optional transaction status field.
    bulkPaymentInitiationSctInstWithStatusResponse:
      title: bulkPaymentInitiationSctInstWithStatusResponse
      required:
        - debtorAccount
        - payments
      type: object
      properties:
        batchBookingPreferred:
          type: boolean
          description: "If this element equals 'true', the PSU prefers only one booking\
            \ entry. \nIf this element equals 'false', the PSU prefers individual\
            \ booking of all contained individual transactions. \n\nThe ASPSP will\
            \ follow this preference according to contracts agreed on with the PSU."
          example: false
        requestedExecutionDate:
          type: string
          format: date
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        payments:
          type: array
          description: A list of JSON bodies for SCT INST payments.
          items:
            $ref: '#/components/schemas/paymentInitiationSctInst_json'
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: JSON response body consistion of the corresponding bulk SCT INST
        payment initation JSON body together with an optional transaction status field.
    bulkPaymentInitiationTarget2WithStatusResponse:
      title: bulkPaymentInitiationTarget2WithStatusResponse
      required:
        - debtorAccount
        - payments
      type: object
      properties:
        batchBookingPreferred:
          type: boolean
          description: "If this element equals 'true', the PSU prefers only one booking\
            \ entry. \nIf this element equals 'false', the PSU prefers individual\
            \ booking of all contained individual transactions. \n\nThe ASPSP will\
            \ follow this preference according to contracts agreed on with the PSU."
          example: false
        requestedExecutionDate:
          type: string
          format: date
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        payments:
          type: array
          description: A list of JSON bodies for TARGET-2 payments.
          items:
            $ref: '#/components/schemas/paymentInitiationTarget2_json'
        transactionStatus:
          $ref: '#/components/schemas/transactionStatus'
      description: JSON response body consistion of the corresponding bulk TARGET-2
        payment initation JSON body together with an optional transaction status field.
    _linksAll:
      title: _linksAll
      type: object
      properties:
        scaRedirect:
          $ref: '#/components/schemas/hrefType'
        scaOAuth:
          $ref: '#/components/schemas/hrefType'
        startAuthorisation:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuIdentification:
          $ref: '#/components/schemas/hrefType'
        updatePsuIdentification:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithProprietaryData:
          $ref: '#/components/schemas/hrefType'
        updateProprietaryData:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        updatePsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithEncryptedPsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        updateEncryptedPsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithAuthenticationMethodSelection:
          $ref: '#/components/schemas/hrefType'
        selectAuthenticationMethod:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithTransactionAuthorisation:
          $ref: '#/components/schemas/hrefType'
        authoriseTransaction:
          $ref: '#/components/schemas/hrefType'
        self:
          $ref: '#/components/schemas/hrefType'
        status:
          $ref: '#/components/schemas/hrefType'
        scaStatus:
          $ref: '#/components/schemas/hrefType'
        account:
          $ref: '#/components/schemas/hrefType'
        balances:
          $ref: '#/components/schemas/hrefType'
        transactions:
          $ref: '#/components/schemas/hrefType'
        transactionDetails:
          $ref: '#/components/schemas/hrefType'
        cardAccount:
          $ref: '#/components/schemas/hrefType'
        cardTransactions:
          $ref: '#/components/schemas/hrefType'
        first:
          $ref: '#/components/schemas/hrefType'
        next:
          $ref: '#/components/schemas/hrefType'
        previous:
          $ref: '#/components/schemas/hrefType'
        last:
          $ref: '#/components/schemas/hrefType'
        download:
          $ref: '#/components/schemas/hrefType'
      description: A _link object with all availabel link types
    _linksPaymentInitiation:
      title: _linksPaymentInitiation
      type: object
      properties:
        scaRedirect:
[...]
